<app-back-btn>Назад</app-back-btn>

<ng-container *ngIf="bundle$ | async as bundle; else loader">

	<div class="bundle__info">
		<h2>Пакет курсов {{ bundle.title }}</h2>
		<p>{{ bundle.description }}</p>
	</div>

	<div class="bundle__courses">
		<h3 class="title">Курсы в пакете</h3>
		<ol class="bundle__courses-list">
			<li class="bundle__course" *ngFor="let course of bundle.courses">
				<img class="bundle__course-img" [src]="course.banner" alt="">
				<div class="bundle__course-text">
					<a class="bundle__course-author" [routerLink]="['/app/user/wall', course.authorId]">
						<img class="bundle__course-author-avatar" [src]="course.author?.photo" alt="">
						<span>	
							{{ course.author?.username }}
						</span>
					</a>
					<a class="bundle__course-title text-link" [routerLink]="['/app/learn/overview/course', course.uuid]">
						<h3>
							{{ course.title }}
						</h3>
						<span class="material-icons-outlined">
							navigate_next
						</span>
					</a>
					<p class="bundle__course-descr">
						{{ course.description }}
					</p>	
				</div>
			</li>
		</ol>
	</div>

</ng-container>



<ng-template #loader>
	<p>Loading...</p>
</ng-template>

<ng-template #noData>
	<p>No data</p>
</ng-template>
