<p *ngIf="status === 'archived'">Тренинг в архиве</p>
<h1>{{ topic.title }}</h1>

<h3 class="topic-status actual" *ngIf="isActual">Тема в стадии изучения</h3>
<h3 class="topic-status past" *ngIf="!isActual && isPast">
	Тема была пройдена
</h3>
<h3 class="topic-status future" *ngIf="!isActual && !isPast">
	Предстоящая тема
</h3>

<span>Описание</span>
<p>{{ topic.description }}</p>

<p class="deadline">
	<span class="icon material-icons-outlined">
		timer
	</span>
	<span>
		Дедлайн: 
	</span>
	<span class="value">{{ deadline | date : 'dd.MM.yy' }}</span>
</p>

<div
	class="content"
	[class.blocked]="false"
	[class.archived]="status === 'archived'"
>
	<div *ngIf="topic.theory" class="theory-section section">
		<h3>Теория</h3>
		<p>{{ topic.theory }}</p>
	</div>

	<!-- Uncomment -->
	<!-- <ng-container *ngIf="isActual || isPast"> -->
	<ng-container>
		<div
			*ngIf="topic.materials && topic.materials.length > 0"
			class="materials-section section"
		>
			<h3>Материалы к теме</h3>
			<app-upload-box
				type="download"
				[folder]="trainingMaterialsFolder"
				[controlId]="controlId"
			></app-upload-box>
		</div>

		<div *ngIf="topic.practice" class="practice-section section">
			<h3>Практика</h3>
			<div class="practice-container" *ngIf="topic.practice">
				<p>{{ topic.practice.goal }}</p>
				<div class="practice-tasks">
					<h4>Задания</h4>
					<div
						*ngFor="
							let task of topic.practice.tasks;
							let i = index;
							trackBy: tasksTrackBy
						"
						[class.blocked]="isPast && task.isOpened !== true"
						class="practice-task"
					>
						<app-training-task
							(send)="onSendTask($event)"
							[isActual]="!!isActual"
							[task]="task"
						></app-training-task>
					</div>

					<ng-container
						*ngIf="personalTasks$ | async as personalTasks"
					>
						<h4>Индивидуальные задания</h4>
						<div
							*ngFor="
								let task of personalTasks;
								let i = index;
								trackBy: tasksTrackBy
							"
							class="practice-task personal-task"
						>
							<span class="personal-task__icon material-icons-outlined">
								whatshot
							</span>
							<app-training-task
								(send)="onSendTask($event)"
								[isActual]="true"
								[task]="task"
							></app-training-task>
						</div>
					</ng-container>
				</div>
			</div>
		</div>

		<div
			*ngIf="topic.testLink"
			[class.blocked]="isPast"
			class="test-section section test-link"
		>
			<h3>Тест</h3>
			<div>
				<p>Ваш уникальный ID тренинга:</p>
				<div class="test-link__copy-box">
					<span class="copy-text test-link__id"
						#profileIdTextElem
					>
						{{ profileId + '#' + topic.id }}
					</span>
					<button 
					class="icon-btn"
					(click)="copyProfileIdToClipboard(profileIdTextElem)">
						<span class="material-icons-outlined">
							content_copy
						</span>	
					</button>
				</div>
			</div>
			<a mat-raised-button color="primary" target="_blank" [href]="topic.testLink">
				Перейти
				<span class="material-icons-outlined">
					open_in_new
				</span>
			</a>
		</div>
	</ng-container>
</div>
