@import "/src/mixins";

.section {
	padding: 20px 0;

	&.blocked {
		pointer-events: none;
		position: relative;
		user-select: none;
	}
	&.blocked::after {
		content: '';
		position: absolute;
		width: 100%;
		top: 0px;
		bottom: 0;
		background: rgba(255, 255, 255, 0.8);
		z-index: 3;
		pointer-events: none;
	}
}

.content {
	&.archived {
		pointer-events: none;
		position: relative;
	}
	&.archived::after {
		content: '';
		position: absolute;
		width: 100%;
		top: 0;
		bottom: 0;
		background: linear-gradient(
			0deg,
			rgba(255, 255, 255, 0.8),
			calc(100% - 20px),
			transparent
		);
		z-index: 3;
	}
}

.practice-task {
	@include card();

	padding: 20px;
	margin: 30px 0;
}

.personal-task {
	position: relative;

	&__icon {
		position: absolute;
		right: 20px;
		bottom: 20px;
		font-size: 32px;
		color: var(--secondary-500);
	}
}

.topic-status {
	&.past {
		color: #ff672b;
	}

	&.actual {
		color: #42c600;
	}
}

app-upload-box {
	max-width: 600px;
}

.deadline {
	display: flex;
	align-items: center;
	gap: 2px;

	.icon {
		font-size: 32px;
	}

	.value {
		padding-left: 6px;
	}
}

.test-link {
	
	p {
		margin: 10px 0;
	}

	&__copy-box {
		@include card();

		display: inline-flex;
		align-items: center;
		gap: 20px;
		padding: 8px 20px;
	}
}