.content {
    &.blocked {
        pointer-events: none;
        position: relative;
    }

    &.blocked::after {
        content: '';
        position: absolute;
        width: 100%;
        top: 10px;
        bottom: 0;
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.8), calc(100% - 20px), transparent);
        z-index: 3;
    }
}

.copy-text {
    cursor: pointer;
}

.training-test-id {
    display: inline-block;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #ddd;
}