<ng-container [ngSwitch]="type">
	<ng-container
		*ngSwitchCase="'upload'"
		[ngTemplateOutlet]="upload"
	></ng-container>

	<ng-container
		*ngSwitchCase="'download'"
		[ngTemplateOutlet]="download"
	></ng-container>
</ng-container>

<ng-template #upload>
	<div class="file-item upload">
		<span class="name">
			{{ userFile.filename }}
		</span>
		<div class="progress-bar" [style.width]="progress"></div>
		<button class="icon-btn" (click)="onRemove()">
			<span class="material-icons-outlined">
				clear
			</span>
		</button>
	</div>
</ng-template>

<ng-template #download>
	<div class="file-item download" (click)="onDownload()">
		<span class="name">
			{{ userFile.filename }}
		</span>
	</div>
</ng-template>
