.progress-bar {
	height: 2px;
	width: 0;
	background-color: var(--green-accent);
}

.file-item {
	padding: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;

	&.download {
		cursor: pointer;
		overflow: hidden;
	}

	& span {
		width: 100%;
		text-align: center;
		word-wrap: break-word;
	}
}



.upload {
	background-color: #fffaf0;
	border: 1px solid #333;
}
