<form
	class="course-form"
	*ngIf="viewData$ | async as viewData"
	[formGroup]="courseForm">
	<ng-container [ngSwitch]="viewData.viewPath.type">
		<ng-container
			*ngSwitchCase="'main'"
			[ngTemplateOutlet]="courseMainInfo"
			[ngTemplateOutletContext]="{ viewData, course: courseForm.value }"
		>
		</ng-container>
		<ng-container
			*ngSwitchCase="'module'"
			[ngTemplateOutlet]="module"
		>
		</ng-container>
		<ng-container
			*ngSwitchCase="'topic'"
			[ngTemplateOutlet]="topic"
			[ngTemplateOutletContext]="{ viewData }"
		>
		</ng-container>
	</ng-container>
</form>

<ng-template #courseMainInfo let-course="course">
	<h1 class="title">Проверка курса</h1>
	<p>
		Проверьте содержание курса на соответствие
		<a href="#">политики о содержимом</a>
	</p>

	<div [formGroup]="overallInfoSubform">
		<div class="property">
			<div
				*appFormElWrapper="
					overallInfoSubform;
					control: 'title';
					type: controlsType
				"
				appearance="fill"
			>
				<mat-label>Название курса</mat-label>
				<h2>
					{{ course.overallInfo.title }}
				</h2>
			</div>
		</div>

		<div class="property">
			<div
				*appFormElWrapper="
					overallInfoSubform;
					control: 'description';
					type: controlsType
				"
				appearance="fill"
			>
				<mat-label>Описание курса</mat-label>
				<p>
					Descr...
				</p>
			</div>
		</div>

		<!-- <div class="property">
			<mat-form-field
				*appFormElWrapper="
					overallInfoSubform;
					control: 'category';
					type: controlsType
				"
				class="categories-container"
				appearance="fill"
			>
				<mat-label>Категория</mat-label>
				<mat-select formControlName="category">
					<mat-option
						*ngFor="let category of categories$ | async"
						[value]="category.key"
					>
						{{ category.name }}
					</mat-option>
				</mat-select>
			</mat-form-field>
		</div>

		<div class="property">
			<app-chips-control
				[form]="overallInfoSubform"
				[items]="competencies$ | async"
				[picked]="overallInfoSubform.value.requiredCompetencies"
				control="requiredCompetencies"
				title="Необходимые компетенции"
				class="categories-container"
			></app-chips-control>
		</div>

		<div class="property">
			<app-chips-control
				[form]="overallInfoSubform"
				[items]="competencies$ | async"
				[picked]="overallInfoSubform.value.acquiredCompetencies"
				control="acquiredCompetencies"
				title="Получаемые компетенции"
				class="categories-container"
			></app-chips-control>
		</div> -->
	</div>

	<!-- <div class="modules">
		<h3>Модули курса</h3>
		<div
			*ngFor="let moduleForm of modulesFormArray.controls; let i = index"
			class="module-item">
			<p>{{ i + 1 }}.{{ moduleForm.value.title }}</p>
			<div class="topics">
				<h4>Темы модуля</h4>
				<div *ngFor="let topicForm of moduleForm.controls.topics.controls"
					class="topic-item"
					[formGroup]="topicForm">
					<div class="topic-info">
						{{ topicForm.value.title }}
					</div>
					<div class="topic-duration">
						<mat-form-field class="input" appearance="fill">
							<mat-label>Недель</mat-label>
							<input
								formControlName="weeks"
								matInput
								type="number"
								min="1"
								max="20"
							/>
						</mat-form-field>
						<mat-form-field class="input" appearance="fill">
							<mat-label>Дней</mat-label>
							<input
								formControlName="days"
								matInput
								type="number"
								min="1"
								max="100"
							/>
						</mat-form-field>
					</div>
				</div>
			</div>
		</div>
	</div> -->

	<div class="form-footer">
		<button
			mat-raised-button
			color="primary"
			(click)="onSubmit('review')">
			Отправить на исправление
		</button>
		<button mat-raised-button color="primary" (click)="onSubmit('publish')">
			Опубликовать
		</button>
	</div>
</ng-template>

<ng-template #module>
	<h1>Module</h1>
</ng-template>	

<ng-template #topic>
	<h1>Topic</h1>
</ng-template>	