<form
	class="course-form"
	*ngIf="viewData$ | async as viewData"
	[formGroup]="courseForm">
	<ng-container [ngSwitch]="viewData.viewPath.type">
		<ng-container
			*ngSwitchCase="'main'"
			[ngTemplateOutlet]="courseMainInfo"
			[ngTemplateOutletContext]="{ viewData, course: courseForm.value.overallInfo }"
		>
		</ng-container>
		<ng-container
			*ngSwitchCase="'module'"
			[ngTemplateOutlet]="module"
			[ngTemplateOutletContext]="{ module: activeFormGroup.value }"
		>
		</ng-container>
		<ng-container
			*ngSwitchCase="'topic'"
			[ngTemplateOutlet]="topic"
			[ngTemplateOutletContext]="{ viewData, topicForm: activeFormGroup, topic: activeFormGroup.value, course: courseForm.value.overallInfo }"
		>
		</ng-container>
	</ng-container>
</form>

<ng-template #courseMainInfo let-course="course">
	<h1 class="title">Проверка курса</h1>
	<p>
		Проверьте содержание курса на соответствие
		<a href="#">политики о содержимом</a>
	</p>

	<div [formGroup]="overallInfoSubform">

		<div class="property">
			<ng-container *appFormElWrapper="overallInfoSubform; control: 'title'; type: wrapperControlType">
				<span>Название курса</span>
				<h2>
					{{ course.title }}
				</h2>
			</ng-container>
		</div>

		<div class="property">
			<ng-container *appFormElWrapper="overallInfoSubform; control: 'description'; type: wrapperControlType">
				<span>Описание курса</span>
				<p>
					{{ course.description }}
				</p>
			</ng-container>
		</div>

		<div class="property">
			<ng-container *appFormElWrapper="overallInfoSubform; control: 'category'; type: wrapperControlType">
				<span>Категория</span>
				<p>{{ course.category }}</p>
			</ng-container>
		</div>

		<div class="property">
			<ng-container *appFormElWrapper="overallInfoSubform; control: 'requiredCompetencies'; type: wrapperControlType">
				<span>Необходимые компетенции</span>
				<div class="competencies-list">
					<p *ngFor="let comp of course.requiredCompetencies">{{ comp }}</p>
				</div>
			</ng-container>
		</div>

		<div class="property">
			<ng-container *appFormElWrapper="
				overallInfoSubform;
				control: 'acquiredCompetencies';
				type: wrapperControlType">
				<span>Получаемые компетенции</span>
				<div class="competencies-list">
					<p *ngFor="let comp of course.acquiredCompetencies">{{ comp }}</p>
				</div>
			</ng-container>
		</div>
	</div>

	<!-- <div class="modules">
		<h4>Модули курса</h4>
		<div
			*ngFor="let moduleForm of modulesFormArray.controls; let i = index"
			class="module-item">
			<h3>{{ i + 1 }}.{{ moduleForm.value.title }}</h3>
			<div class="topics">
				<h4>Темы модуля</h4>
				<div *ngFor="let topicForm of moduleForm.controls.topics.controls"
					class="topic-item"
					[formGroup]="topicForm">
					<div class="topic-info">
						{{ topicForm.value.title }}
					</div>
					<div class="topic-duration">
						{{ getTopicDuration(topicForm.value.days, topicForm.value.weeks) }}
					</div>
				</div>
			</div>
		</div>
	</div> -->

	<div class="form-footer">
		<button
			mat-raised-button
			color="primary"
			(click)="onSubmit('review')">
			Отправить на исправление
		</button>
		<button mat-raised-button color="primary" (click)="onSubmit('publish')">
			Опубликовать
		</button>
	</div>
</ng-template>

<ng-template #module let-module="module">
	<h2>
		{{ module.title }}
	</h2>
	<p>
		{{ module.description }}
	</p>
</ng-template>	

<ng-template #topic let-topic="topic" let-topicForm="topicForm" let-course="course">
	<h2 *appFormElWrapper="topicForm; control: 'title'; type: wrapperControlType">
		{{ topic.title }}
	</h2>
	
	<ng-container *ngIf="topic.description">
		<p *appFormElWrapper="
			topicForm;
			control: 'description';
			type: wrapperControlType">
			{{ topic.description }}
		</p>
	</ng-container>

	<div *ngIf="topic.theory" class="section-topic section">
		<ng-container *appFormElWrapper="topicForm; control: 'theory'; type: wrapperControlType">

			<h4>Теория</h4>
			{{ topic.theory }}
		</ng-container>
	</div>
	
	<div *ngIf="topic.materials?.length > 0" class="section-materials section">
		<ng-container *appFormElWrapper="
		topicForm; 
		control: 'materials'; 
		type: wrapperControlType;
		reviewType: 'file'">
			<h4>Материалы</h4>
			<app-upload-box
				[folder]="'review/' + metadata.masterCourseId + '/topics/' + topic.id"
				type="download"
				serveFrom="local"></app-upload-box>
		</ng-container>
	</div>

	<div *ngIf="topicForm.controls.practice.controls" class="section-practice section">

		<h4>Практика</h4>
		<p class="practice-goal">
			{{ topic.practice.goal }}
		</p>
	
		<ng-container >

		</ng-container>
		
		<div *ngFor="let taskForm of topicForm.controls.practice.controls.tasks.controls" 
		class="topic-task">

			<ng-container *appFormElWrapper="taskForm; control: 'taskDescr'; type: wrapperControlType">
				<p>Задание: {{ taskForm.value.taskDescr }}</p>
			</ng-container>
			<ng-container *appFormElWrapper="taskForm; control: 'materials'; type: wrapperControlType; reviewType: 'file'">
				<app-upload-box
					[folder]="'review/' + metadata.masterCourseId + '/tasks/' + taskForm.value.id"
					type="download"
					serveFrom="local"></app-upload-box>
			</ng-container>

		</div>

	</div>
</ng-template>	