<form [formGroup]="form">
    <div class="property">
        <ng-container *appFormElWrapper="overallInfoForm; control: 'title'; type: controlsType">
            <span>Название курса</span>
            <h2>{{ overallInfoForm.value.title }}</h2>
        </ng-container>
    </div>

    <div class="property">
        <ng-container *appFormElWrapper="overallInfoForm; control: 'description'; type: controlsType">
            <span>Описание курса</span>
            <p>{{ overallInfoForm.value.description }}</p>
        </ng-container>
    </div>

    <div class="property">
        <ng-container *appFormElWrapper="overallInfoForm; control: 'category'; type: controlsType">
            <span>Категория</span>
            <p>{{ category }}</p>
        </ng-container>
    </div>

	<h2>Модули</h2>
	<div class="modules">
		<div
			*ngFor="let moduleForm of modulesFormArray.controls; let i = index"
			class="admin-module"
		>
			<h3>Модуль {{ i + 1 }}.</h3>

            <div class="property">
                <ng-container *appFormElWrapper="moduleForm; control: 'title'; type: controlsType">
                    <span>Название модуля</span>
                    <p>{{ moduleForm.value.title }}</p>
                </ng-container>
            </div>

            <div class="property">
                <ng-container *appFormElWrapper="moduleForm; control: 'description'; type: controlsType">
                    <span>Описание модуля</span>
                    <p>{{ moduleForm.value.description }}</p>
                </ng-container>
            </div>

			<div class="topics" >
				<div
					*ngFor="let topicForm of moduleForm.controls.topics.controls; let j = index"
					class="admin-module-topic"
				>
					<h4>Тема {{ j + 1 }}.</h4>

                    <div class="property">
                        <ng-container *appFormElWrapper="topicForm; control: 'title'; type: controlsType">
                            <span>Название темы</span>
                            <p>{{ topicForm.value.title }}</p>
                        </ng-container>
                    </div>

                    <div class="property">
                        <ng-container *appFormElWrapper="topicForm; control: 'description'; type: controlsType">
                            <span>Описание темы</span>
                            <p>{{ topicForm.value.description }}</p>
                        </ng-container>
                    </div>

                    <div *ngIf="topicForm.value.materials" class="property">
                        <ng-container *appFormElWrapper="topicForm; control: 'materials'; type: controlsType">
                            <span>Материалы к теме</span>
                            <app-upload-box
								class="topic-review-materials"
								type="download" 
								[folder]="getReviewTopicFolderPath(i + 1, j + 1)"
							></app-upload-box>
                        </ng-container>
                    </div>

                    <div *ngIf="topicForm.value.theory" class="property">
                        <ng-container *appFormElWrapper="topicForm; control: 'theory'; type: controlsType">
                            <span>Теория</span>
                            <p>{{ topicForm.value.theory }}</p>
                        </ng-container>
                    </div>

                    <!-- <div *ngIf="topicForm.value.practice" class="property">
                        <ng-container *appFormElWrapper="topicForm; control: 'practice'; type: controlsType">
                            <span>Практика</span>
                            <div class="practice">
                                <p>
                                    {{topicForm.value.practice.goal}}
                                </p>

                                <div class="tasks">
                                    <div *ngFor="let task of topicForm.value.practice.controls.tasks; let k = index" class="task-item">
                                        <p> Задание {{ k + 1 }}. </p>
                                        <p>
                                            {{task.taskDescr}}
                                        </p>
                                        <app-upload-box
                                            *ngIf="task.materials && task.materials.length > 0"
                                            class="topic-review-materials"
                                            type="download" 
                                            [folder]="getReviewTaskFolderPath(i + 1, j + 1, k + 1)"
                                        ></app-upload-box>
                                    </div>
                                </div>
                            </div>
                            
                        </ng-container>
                    </div> -->

                    <div *ngIf="topicForm.value.testLink" class="property">
                        <ng-container *appFormElWrapper="topicForm; control: 'testLink'; type: controlsType">
                            <span>Теория</span>
                            <a target="_blank" [href]="topicForm.value.testLink">Открыть тест</a>
                        </ng-container>
                    </div>

				</div>
			</div>
		</div>
	</div>

	<div class="form-footer">
		<button mat-raised-button color="primary" (click)="onSubmit('review')">Сохранить</button>
        <button mat-raised-button color="primary" (click)="onSubmit('publish')">Опубликовать</button>
	</div>
</form>

<ng-template #loader>
    <p>
        Loading...
    </p>
</ng-template>