form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

mat-form-field {
    max-width: 400px;
    width: 100%;
}

app-module-topic {
    display: block;
}

.topics-container {
    width: 100%;
}

// .topic-item {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     padding: 10px;
//     border-radius: 8px;
//     background-color: #eee;
//     margin: 10px 0;
// }

.topic-item {
    padding: 10px 0;
}