<form [formGroup]="form">

    <app-form-element-review-wrapper
        type="edit"
        [form]="editorModulesForm"
        control="title">
        <mat-form-field appearance="fill">
            <mat-label>Название модуля</mat-label>
            <input matInput formControlName="title">
        </mat-form-field>
    </app-form-element-review-wrapper>

    <app-form-element-review-wrapper
        type="edit"
        [form]="editorModulesForm"
        control="description">
        <mat-form-field appearance="fill">
            <mat-label>Описание модуля</mat-label>
            <textarea matInput formControlName="description"></textarea>
        </mat-form-field>
    </app-form-element-review-wrapper>

    <h3 class="title">Темы модуля</h3>

    <button mat-stroked-button color="primary" (click)="addTopic()">Добавить тему</button>
    <div class="topics-container">
        <ng-container *ngFor="let topicForm of topicsFormGroups; let i = index">
            <div class="topic-item">
                <mat-expansion-panel expanded="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <p>Тема {{ i + 1 }}. {{topicForm.value.title}}</p>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <app-module-topic 
                        [order]="i" 
                        [form]="topicForm" 
                        [hierarchy]="getHierarchy(i + 1)"
                        [editorForm]="topicsEditorCommentsForm(i)" 
                        (removeTopic)="onRemoveTopic(i)"></app-module-topic>                    
                </mat-expansion-panel>
            </div>
        </ng-container>
    </div>
</form>