<div class="header">
    <h2>Проверка студентов</h2>
    <p>Выберите студента и тему курса для того чтобы начать оценивание.</p>
</div>

<div class="filters">

    <label>
        <span>Студент</span>
        <select name="student">
            <option value="qwedrnioser1">Student 1</option>
            <option value="qwedrnioser2">Student 2</option>
            <option value="qwedrnioser3">Student 3</option>
        </select>
    </label>

    <label>
        <span>Тема</span>
        <select name="topic">
            <option value="qwedrniosef1">Тема 1</option>
            <option value="qwedrniosef2">Тема 2</option>
            <option value="qwedrniosef3">Тема 3</option>
        </select>
    </label>

</div>

<p>Последняя версия выполненных заданий по теме.</p>
<div class="topic-answer-container">

    

</div>

<div class="check-results">
    <p>Подведение результатов</p>

    <div class="task-check-item">
        <p>Задание 1. Сделать то не знаю что.</p>
        <input type="number" max="10" min="0">
    </div>
    <div class="task-check-item">
        <p>Задание 2. Пойти туда не знаю куда.</p>
        <input type="number" max="10" min="0">
    </div>
    <div class="task-check-item">
        <p>Задание 3. Найти то не знаю что.</p>
        <input type="number" max="10" min="0">
    </div>

    <textarea class="check-comment" name="comment" cols="50" rows="6" placeholder="Комментарий к оценке"></textarea>

    <button mat-raised-button color="accent">Сохранить</button>

</div>

