<mat-form-field [formGroup]="form">
	<mat-label>{{ title }}</mat-label>
	<mat-chip-list #chipList [formControlName]="control">
		<mat-chip class="comp-chip" *ngFor="let c of pickedItems" (removed)="remove(c.id)">
			<!-- {{ c.label }} -->
			<!-- DEV -->
			{{ c.label || c }}
			<button matChipRemove>Х</button>
		</mat-chip>
		<input
			#input
			[formControl]="query"
			[matChipInputFor]="chipList"
			[matAutocomplete]="auto"
			[matChipInputSeparatorKeyCodes]="separatorKeysCodes"
			[matChipInputAddOnBlur]="true"
			(matChipInputTokenEnd)="add($event)"
		/>
	</mat-chip-list>
	<mat-autocomplete
		#auto="matAutocomplete"
		(optionSelected)="selected($event)"
	>
		<mat-option
			*ngFor="let item of filteredItems$ | async"
			[value]="item.id"
		>
			{{ item.label }}
		</mat-option>
	</mat-autocomplete>

	<mat-error>
		<val-errors [controlName]="control"></val-errors>	
	</mat-error>
</mat-form-field>
