<app-layout class="container layout" *ngIf="viewData$ | async as viewData; else loader">
    <div 
    slot="main"
    class="training-container">
        <section class="content">
            
            <ng-container [ngSwitch]="viewData.viewType">
                
                <ng-container *ngSwitchCase="viewTypes.Main"
                    [ngTemplateOutlet]="mainView"
                    [ngTemplateOutletContext]="{ course: viewData.training.course }"
                ></ng-container>

                <ng-container 
                    *ngSwitchCase="viewTypes.Module"
                    [ngTemplateOutlet]="moduleView"
                ></ng-container>

                <ng-container 
                    *ngSwitchCase="viewTypes.Topic"
                    [ngTemplateOutlet]="topicView"
                    [ngTemplateOutletContext]="{ topic: viewData.topic }"
                ></ng-container>

            </ng-container>

        </section>
    </div>

    <app-course-sidenav 
        class="sidebar" slot="sidebar"
        [course]="viewData.training.course"></app-course-sidenav>

</app-layout>

<ng-template #mainView let-course="course">
    <h1>Тренинг по курсу {{course.title}}</h1>
    <p>{{course.description}}</p>
    <p>Категория: {{course.categoryLabel}}</p>
</ng-template>

<ng-template #moduleView let-module="module">
    <h1>{{ module.title }}</h1>
</ng-template>

<ng-template #topicView let-topic="topic">
    <app-topic-training 
    *ngIf="topic"
    (sendReply)="onSendReply($event)"
    [topic]="topic"></app-topic-training>
</ng-template>

<ng-template #loader>
    <p>
        Loading...
    </p>
</ng-template>