<app-layout
	class="container layout"
	*ngIf="viewData$ | async as viewData; else loader"
>
	<div slot="main" class="training-container">
		<section class="content">
			<ng-container [ngSwitch]="viewData.viewType">
				<ng-container
					*ngSwitchCase="viewTypes.Main"
					[ngTemplateOutlet]="mainView"
					[ngTemplateOutletContext]="{
						training: viewData.training,
						contentTree: viewData.contentTree
					}"
				></ng-container>

				<ng-container
					*ngSwitchCase="viewTypes.Module"
					[ngTemplateOutlet]="moduleView"
					[ngTemplateOutletContext]="{
						module: viewData.module,
						training: viewData.training
					}"
				></ng-container>

				<ng-container
					*ngSwitchCase="viewTypes.Topic"
					[ngTemplateOutlet]="topicView"
					[ngTemplateOutletContext]="{
						topic: viewData.topic,
						training: viewData.training,
						profileId: viewData.profileId
					}"
				></ng-container>
			</ng-container>
		</section>
	</div>

	<div class="sidebar" slot="sidebar">
		<div class="sidebar__sticky">
			<app-course-sidenav class="sidebar__nav"
				[tree]="viewData.contentTree">
			</app-course-sidenav>
			<div class="sidebar__footer">
				<a 
					routerLink="../"
					mat-raised-button>
					К прогрессу
				</a>
				<a 
					[routerLink]="['/app/learn/overview/course', viewData.training.course.uuid]"
					mat-raised-button>
					К обзору курса
				</a>
			</div>
		</div>
	</div>
	
</app-layout>

<ng-template #mainView let-training="training" let-contentTree="contentTree">
	<div class="training__title-wrapper">
		<h1>{{ training.course.title }}</h1>
		<span class="training__status" [class.archived]="training.status !== 'active'">{{ training.status === 'active' ? 'Идет сейчас' : 'В архиве' }}</span>
	</div>
	<p>{{ training.course.description }}</p>
	<!-- <p>Категория: {{ training.course.category }}</p> -->

	<h2>Программа</h2>
	<div class="modules-list">
		<div *ngFor="let node of contentTree" class="module-item">
			<h3>{{ node.module.title }}</h3>
			<div class="topics-list">
				<p *ngFor="let topic of node.topics">
					{{ topic.title }}
				</p>
			</div>
		</div>
	</div>
</ng-template>

<ng-template #moduleView let-module="module" let-training="training">
	<h1>{{ module.title }}</h1>
	<p class="">{{ module.description }}</p>

	<div class="module-content">
		<h3>Темы модуля</h3>
		<div class="module-topic" *ngFor="let t of training.course.topics">
			<a routerLink="." [queryParams]="{ topic: t.id }">{{ t.title }}</a>
		</div>
	</div>
</ng-template>

<ng-template
	#topicView
	let-topic="topic"
	let-training="training"
	let-profileId="profileId"
>
	<app-topic-training
		class="topic-training"
		*ngIf="topic"
		(sendReply)="onSendReply($event)"
		[topic]="topic"
		[profileId]="profileId"
		[training]="training"
	></app-topic-training>
</ng-template>

<ng-template #loader>
	<p>Loading...</p>
</ng-template>
