@import "/src/mixins";

.layout {
	min-height: 100vh;
	flex-direction: row-reverse;
	align-items: stretch;
}

.training{
	
	&-container {
		width: 100%;
		display: flex;
		align-items: flex-start;
		height: 100%;
		overflow-y: auto;
	}

	&__title-wrapper {
		display: flex;
		align-items: center;
	}

	&__status {
		padding: 4px 14px;
		font-size: 11px;
		white-space: nowrap;
		border-radius: 20px;
		border: 2px solid #5ba000;
		background-color: #cffdcc;

		&.archived {
			background-color: #dedede;
			border-color: #959595;
		}
	}
}

.content {
	flex-grow: 1;
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 20px;
}

.sidebar {
	margin-top: 100px;
	min-width: 270px;
	width: 270px;
	padding: 10px;
	
	&__sticky {
		position: -webkit-sticky;
		position: sticky;
		top: 20px;
	}
	
	&__nav {
		@include card;

		padding: 20px 10px;
		min-height: 400px;
		// background-color: var(--primary-50);
		display: block;
	}

	&__footer {
		display: flex;
		flex-direction: column;
		align-items: stretch;
		padding-top: 20px;
		gap: 10px;
	}
}

// .topic-training {
// 	margin-top: 20px;
// }