<div class="content">
	<ng-container *ngTemplateOutlet="content"></ng-container>
</div>

<div class="comments">
	<ng-container [ngSwitch]="type">
		<ng-container *ngSwitchCase="'review'">
			<ng-container [ngTemplateOutlet]="reviewWrapper"></ng-container>
		</ng-container>
		<ng-container *ngSwitchCase="'edit'">
			<ng-container
				*ngIf="hasComments"
				[ngTemplateOutlet]="editWrapper"
			></ng-container>
		</ng-container>
	</ng-container>
</div>

<ng-template #reviewWrapper>
	<button
		[class.active]="isReviewActive"
		class="action-btn"
		mat-raised-button
		(click)="onToggle('review')"
		[color]="isReviewActive === true ? 'primary' : ''"
	>
		<span class="material-icons-outlined"> rate_review </span>
	</button>

	<ng-container *ngIf="isReviewActive">
		<ng-container [ngTemplateOutlet]="commentOptions"></ng-container>
	</ng-container>
</ng-template>

<ng-template #editWrapper>
	<span class="material-icons-outlined"> error_outline </span>

	<ng-container *ngIf="true">
		<div>
			<span *ngFor="let comment of comments">
				{{ comment.label }}.
			</span>
		</div>
	</ng-container>
</ng-template>

<ng-template #commentOptions>
	<mat-form-field appearance="standard" [formGroup]="form">
		<mat-select
			multiple
			disableOptionCentering
			[compareWith]="compareCommentOptions"
			[formControlName]="control"
		>
			<mat-option
				*ngFor="let option of reviewItems"
				[value]="option"
			>
				{{ option.label }}
			</mat-option>
		</mat-select>
	</mat-form-field>
</ng-template>
