<ng-container *ngTemplateOutlet="content"></ng-container>

<ng-container [ngSwitch]="type">
    <ng-container *ngSwitchCase="'review'">
        <ng-container
            [ngTemplateOutlet]="reviewWrapper"
        ></ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="'edit'">
        <ng-container
            *ngIf="hasComments"
            [ngTemplateOutlet]="editWrapper"
        ></ng-container>
    </ng-container>
</ng-container>

<ng-template #reviewWrapper>
    <button [class.active]="isReviewActive" class="action-btn" mat-raised-button (click)="onToggle('review')" [color]="isReviewActive ? 'primary' : ''">
        <span class="material-icons-outlined">
            rate_review
        </span>
    </button>
    
    <ng-container *ngIf="isReviewActive">
        <ng-container
            [ngTemplateOutlet]="commentOptions"
            [ngTemplateOutletContext]="{ form, items: getItems() }"
        ></ng-container>
    </ng-container>
</ng-template>

<ng-template #editWrapper>
    <button [class.active]="isEditDone" class="action-btn" mat-raised-button (click)="onToggle('edit')" [color]="isEditDone ? 'primary' : ''">
        <span class="material-icons-outlined">
            error_outline
        </span>
    </button>
    
    <ng-container *ngIf="!isEditDone">
        <div>
            <span *ngFor="let comment of comments">
                {{comment.label}}.
            </span>
        </div>
    </ng-container>
</ng-template>

<ng-template #commentOptions let-items="items">
    <mat-form-field *ngIf="form !== null" appearance="standard" [formGroup]="form">
        <mat-select 
            (selectionChange)="onChange($event)"    
            multiple 
            disableOptionCentering
            [formControlName]="control">
            <mat-option *ngFor="let option of items" [value]="option">
                {{option.label}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</ng-template>