<nav class="sidenav" *ngIf="items && items.length > 0; else noItems">
	<ul class="sidenav-list">
		<li>
			<a 
			[routerLink]="[]"
			[queryParams]="null"
			routerLinkActive="active"
			[routerLinkActiveOptions]="{exact: true}"
			class="sidenav-list__link">Главная</a>
		</li>
		<li *ngFor="let node of items; let i = index" class="modules-list__item">
			<a 
			class="sidenav-list__link modules-list__item-title" 
			[routerLink]="[]"
			routerLinkActive="active"
			[queryParams]="{ module: node.moduleId }"
			>
				Модуль {{ i + 1 }}. {{ node.module.title }}
			</a>
			<ul class="topics-list modules-list__topics">
				<li *ngFor="let topic of node.topics; let j = index" class="topics-list__item">
					<a 
					[routerLink]="[]"
					routerLinkActive="active"
					[queryParams]="{ topic: topic.id }"
					class="sidenav-list__link topics-list__title">
						Тема {{ j + 1 }}. {{ topic.title }}
					</a>
				</li>
			</ul>
		</li>
	</ul>
</nav>

<ng-template #noItems>
	<p>No nav items.</p>
</ng-template>
