<nav class="sidenav" *ngIf="items && items.length > 0; else noItems">
    <ul class="sidenav-list">
        <li><a (click)="navigate({ })">Главная</a></li>
        <ul class="sidenav-modules-list">
            <ul *ngFor="let module of items; let i = index">
                <li>
                    <span (click)="navigate({ module: i + 1 })">
                        Модуль {{ i + 1 }}. {{ module.title }}
                    </span>
                </li>
                <ul class="sidenav-module-topics-list">
                    <li *ngFor="let topic of module.topics; let j = index">
                        <span (click)="navigate({ module: i + 1, topic: j + 1 })">
                            Тема {{ j + 1 }}. {{ topic.title }}
                        </span>
                    </li>
                </ul>
            </ul>
        </ul>
    </ul>
</nav>

<ng-template #noItems>
    <p>
        No nav items.
    </p>
</ng-template>