<div class="catalog-wrapper">
	<h1 class="title">Каталог курсов</h1>
	
    <a *ngIf="isTeacherUser$ | async" [routerLink]="['../create']" mat-raised-button color="primary"
		>Создать курс</a
	>
    
	<div class="catalog-filters">Filters...</div>
	<div class="catalog-content">
		<a
			class="catalog-item"
			[routerLink]="['../course', 'overview', item.id]"
			*ngFor="let item of courses$ | async"
		>
			<h3>#{{ item.id }} - {{ item.title }}</h3>
			<div class="catalog-item__footer">
				<span class="catalog-item__views">Views: 2.3k</span
				><span class="catalog-item__participants"
					>Participants: 123</span
				>
			</div>
		</a>
	</div>
</div>
