<ng-container *ngIf="training$ | async as training; else loader">
    <div class="course-banner-wrapper" style="background-image: url('http://localhost:8080/static/images/course-bg-1.jpg');">
        <app-back-btn class="back-btn">
            Назад
        </app-back-btn>
    </div>
    <div class="course-banner-content">
        <div class="info">
            <h1 class="title">{{ training.course.title }}</h1>
            <p class="descr">{{ training.course.description }}</p>

            <div *ngIf="(isUserOwner$ | async) !== true" class="enrollment-panel">
                <ng-container *ngIf="trainingLookup$ | async as profile; else lookupLoader">
    
                    <ng-container *ngIf="profile !== 'NoEnroll'">
                    
                        <div *ngIf="profile.enrollment === 'pending'">
                            <p>Заявка на рассмотрении</p>
                            <button 
                            [disabled]="isDisabledEnrollActions"
                            mat-raised-button 
                            (click)="cancelTrainingEnroll(training.training)">Отозвать</button>
                        </div>
                        <div *ngIf="profile.enrollment === 'approved'">
                            <button
                            [disabled]="isDisabledEnrollActions"
                            mat-raised-button 
                            color="accent" 
                            (click)="leaveTraining(training.training)">Покинуть</button>
                            <a mat-raised-button [routerLink]="['/app/student/profile', profile.uuid, 'training']">Перейти к треннингу</a>
                            <a mat-raised-button [routerLink]="['/app/student/profile', profile.uuid]">Прогресс</a>
                        </div>
                    </ng-container>
    
                    <ng-container *ngIf="profile === 'NoEnroll'">
                        <div class="enroll-btn-wrapper">
                            <button 
                                *ngIf="(canEnroll$ | async) === true" 
                                mat-raised-button 
                                color="accent" 
                                [disabled]="isDisabledEnrollActions"
                                (click)="enrollTraining(training.training)">Записаться</button>
                            
                            <ng-container *ngIf="competenciesDiff$ | async as compDiff">
                                <p *ngIf="compDiff.length > 0">
                                    <span>Не хватает компетенций: </span>
                                    <span>{{ compDiff }}</span>
                                </p>
                            </ng-container>
                        </div>
                    </ng-container>
    
                </ng-container>
            </div>

            <a *ngIf="isUserOwner$ | async" mat-raised-button color="accent" [routerLink]="['/app/teacher/training', training.training.uuid, 'manage']">Управление</a>
        </div>
    </div>
    
    <div class="course-content container">
    
        <div class="competencies">
            <div class="competencies-required">
                <h3>Для зачисления на курс вам необходимо владеть следующими компетенциями</h3>
                <ul class="competencies-list">
                    <li *ngFor="let comp of training.course.competencies.required">
                        {{ getCompLabel(comp) }}
                    </li>
                </ul>
            </div>

            <div class="competencies-acquired">
                <h3>После успешного прохождения курса, вы получите следующие компетенции</h3>
                <ul class="competencies-list">
                    <li *ngFor="let comp of training.course.competencies.acquired">
                        {{ getCompLabel(comp) }}
                    </li>
                </ul>
            </div>
        </div>

        <div class="info-items">
    
            <div class="info-item">
                <div>
                    <span>Начало</span>
                    <span>TBD</span>
                </div>
                <div>
                    <span>Окончание</span>
                    <span>TBD</span>
                </div>
                <div>
                    <span>Длительность</span>
                    <span>8 weeks</span>
                </div>
            </div>
    
            <div class="info-item">
                <span>Категория</span>
                <p>{{training.course.categoryLabel}}</p>
            </div>
    
            <div class="info-item">
                <span>Автор</span>
                <p>
                    <a [routerLink]="['/app/user', training.course.authorId]">Профиль</a>
                </p>
            </div>
    
        </div>
    
        <div class="course-content">
            <h2>Содержание курса</h2>

            <div *ngFor="let node of training.contentTree" class="module-item">
                <h3>{{node.module.title}}</h3>
                <p>{{node.module.description}}</p>

                <div class="topics-list">
                    <div *ngFor="let topic of node.topics" class="topic-item">
                        <h4>{{topic.title}}</h4>
                        <p>{{topic.description}}</p>
                    </div>
                </div>
            </div>

        </div>

    </div>    
</ng-container>

<ng-template #loader>
    Loading course...
</ng-template>

<ng-template #noCourse>
    No such course
</ng-template>

<ng-template #lookupLoader>
    <p>Loading training membership info...</p>
</ng-template>
