<ng-container *ngIf="viewData$ | async as viewData; else loader">
	<ng-container *ngIf="viewData.course as course; else noCourse">
		<div 
		class="course-banner-wrapper"
		[ngStyle]="{
			'background-image': 'url(' + course.banner + ')'
		}">
			<app-back-btn class="back-btn"> Назад </app-back-btn>

			<div class="course-banner-content">
				<div class="info">
					<h1 class="title">{{ course.title }}</h1>
					<p class="descr">{{ course.description }}</p>
				</div>
	
				<div class="info__footer">

					<ng-container *ngIf="viewData.activeTraining">
		
							<div class="enrollment-panel" *ngIf="viewData.isUserOwner !== true">
								<ng-container
									*ngIf="
										viewData.trainingLookup as profile;
										else lookupLoader
									"
								>
									<ng-container *ngIf="profile !== 'NoEnroll'">
										<div class="enrollment-pending" *ngIf="profile.enrollment === 'pending'">
											<p class="bg">Заявка на рассмотрении</p>
											<button
												[disabled]="isDisabledEnrollActions"
												mat-raised-button
												(click)="
													cancelTrainingEnroll(viewData.activeTraining.training)
												"
											>
												Отозвать
											</button>
										</div>
										<div class="flex-gap" *ngIf="profile.enrollment === 'approved'">
											<a
												mat-raised-button
												color="accent"
												[routerLink]="[
													'/app/student/profile',
													profile.uuid,
													'training'
												]"
												>

													К треннингу
												</a
											>
											<a
												mat-raised-button
												[routerLink]="[
													'/app/student/profile',
													profile.uuid
												]"
												>Прогресс</a
											>
											<button
												*ngIf="viewData.activeTraining.status === 'active'"
												mat-raised-button
												(click)="leaveTraining(viewData.activeTraining.training)"
											>
												Покинуть
											</button>
										</div>
									</ng-container>
		
									<ng-container *ngIf="profile === 'NoEnroll'">
										<div class="flex-gap enrollment-enroll">
											<button
												*ngIf="viewData.canEnroll === true"
												mat-raised-button
												color="accent"
												[disabled]="isDisabledEnrollActions"
												(click)="enrollTraining(viewData.activeTraining.training)"
											>
												Записаться
											</button>
		
											<ng-container
												*ngIf="viewData.competenciesDiff as compDiff"
											>
												<div class="enrollment-no-comps" *ngIf="compDiff.length > 0">
													<p class="enrollment-no-comps__text">
														<span class="material-icons-outlined">
															error_outline
														</span>
														<span>Недостаточно компетенций: </span>
													</p>
													<p class="enrollment-no-comps__list">
														<span class="comp-item" *ngFor="let c of compDiff">
															{{ c }}
														</span>
													</p>
												</div>
											</ng-container>
										</div>
									</ng-container>
								</ng-container>
							</div>
		
							<a
								*ngIf="viewData.isUserOwner"
								mat-raised-button
								color="accent"
								[routerLink]="[
									'/app/teacher/training',
									viewData.activeTraining.training.uuid,
									'manage'
								]">
								Управление
							</a>
					</ng-container>
		
					<ng-container *ngIf="!viewData.activeTraining && viewData.isUserOwner">
						<a mat-raised-button color="accent" [routerLink]="['/app/teacher']">
							Начать тренинг
						</a>
					</ng-container>
				</div>
	
				<div class="course-banner-author">
					<a 
					class="course-banner-author-link"
					[routerLink]="['/app/user/wall/', viewData.course.authorId]">
						Автор
					</a>
				</div>
			</div>

		</div>

		<div class="course-container">
			<pre>
				<!-- {{ viewData.course.competencies | json }} -->
			</pre>

			<div class="info-items">
				<div class="info-item">
					<span>Объем</span>
					<div class="info-item__icon">
						<span class="material-icons-outlined">
							timelapse
						</span>
					</div>
					<div>
						<ng-container *ngIf="viewData.activeTraining">
							<span>Старт:</span>
							<span>
								{{ viewData.activeTraining.training.startAt | date : 'dd.MM.yyyy' }}
							</span>
						</ng-container>

						<div>
							<span>{{ getTrainingDuration(viewData.course) }}</span>
						</div>
					</div>

				</div>

				<div class="info-item">
					<span>Категория</span>
					<div class="info-item__icon">
						<span class="material-icons-outlined">
							category
						</span>
					</div>
					<p>{{ getCategory(viewData.course.category) }}</p>
				</div>

				<div class="info-item">
					<span>Автор</span>
					<div class="info-item__icon">
						<span class="material-icons-outlined">
							account_box
						</span>
					</div>
					<p>
						<a [routerLink]="['/app/user', viewData.course.authorId]"
							>Профиль</a>
					</p>
				</div>
			</div>

			<div class="competencies">
				<div class="competencies-box competencies-required" *ngIf="viewData.course.competencies.required.length > 0">
					<p class="title">
						Для зачисления на курс вам необходимо владеть следующими
						компетенциями
					</p>
					<ul class="competencies-list">
						<li
							*ngFor="
								let comp of viewData.course.competencies.required
							"
						>
							<span class="comp-item">
								{{ getCompLabel(comp) }}
							</span>
						</li>
					</ul>
				</div>

				<div class="competencies-box competencies-acquired">
					<p class="title">
						После успешного прохождения курса, вы получите следующие
						компетенции
					</p>
					<ul class="competencies-list">
						<li
							*ngFor="
								let comp of viewData.course.competencies.acquired
							"
						>
						
							<span class="comp-item">
								{{ getCompLabel(comp) }}
							</span>
						</li>
					</ul>
				</div>
			</div>

			<div class="course-content">
				<h2>Содержание курса</h2>

				<div *ngFor="let node of viewData.course.contentTree" class="module-item">
					<h3>{{ node.module.title }}</h3>
					<p>{{ node.module.description }}</p>

					<div class="topics-list">
						<div *ngFor="let topic of node.topics" class="topic-item">
							<h4>{{ topic.title }}</h4>
							<p>{{ topic.description }}</p>
						</div>
					</div>
				</div>
			</div>

			<div class="reviews">
				<div class="reviews-form-wrapper" *ngIf="viewData.canAddReview">
					<h2>Вы завершили данный тренинг. Оставьте свой отзыв о курсе!</h2>
					<form class="reviews-form" [formGroup]="feedbackForm">
						<mat-form-field>
							<mat-label>Текст отзыва</mat-label>
							<textarea matInput formControlName="text" cols="50" rows="6"></textarea>
						</mat-form-field>
						<mat-form-field>
							<mat-label>Оценка</mat-label>
							<input matInput formControlName="rating" type="number" min="0" max="5" placeholder="Оценка">
							<mat-error>
								<val-errors controlName="rating"></val-errors>
							</mat-error>
						</mat-form-field>
						<button mat-raised-button (click)="onSendFeedback(viewData)">Отправить</button>
					</form>
				</div>

				<div *ngIf="viewData.feedbacks as feedbacks">
					<h2>Отзывы о курсе</h2>
					<div class="reviews-list" *ngIf="feedbacks.length > 0; else noFeedbacks">
						<div
						*ngFor="let feedback of feedbacks"
						class="review-item">
							<p>
								{{ feedback.text }}
							</p>
							<div class="flex body">
								<span *ngIf="feedback.rating > 0" class="rating">
									<span class="star material-icons-outlined">
										star
									</span>
									{{ feedback.rating }}
								</span>
								<span>
									<a class="author" [routerLink]="['/app/user/wall', feedback.author.uuid]">
										<img class="avatar" [src]="feedback.author.photo" alt="">
										{{ feedback.author.username }}
									</a>
								</span>
							</div>
							<p class="date">
								{{ feedback.date | date : 'dd.MM.yy' }}
							</p>
						</div>
					</div>
				</div>
				<ng-template #noFeedbacks>
					<p>Нет отзывов</p>
				</ng-template>

			</div>
		</div>
	</ng-container>

</ng-container>

<ng-template #loader> Loading training... </ng-template>

<ng-template #noCourse> No such course </ng-template>

<ng-template #lookupLoader>
	<p>Loading training membership info...</p>
</ng-template>
