<ng-container *ngIf="course$ | async as course; else loader">
    <div class="course-banner-wrapper" style="background-image: url('http://localhost:8080/static/images/course-bg-1.jpg');">
        <app-back-btn class="back-btn">
            Назад
        </app-back-btn>
    </div>
    <div class="course-banner-content">
        <div class="info">
            <h1 class="title">{{ course.title }}</h1>
            <p class="descr">{{ course.description }}</p>

            <button *ngIf="(canEnroll$ | async) === true && (isEnrolled$ | async) === false" mat-raised-button color="accent" (click)="enrollCourse(course.id)">Записаться</button>

            <ng-container *ngIf="enrollStatus$ | async as enrollStatus">
                <div *ngIf="enrollStatus === 'Pending'">
                    <p>Заявка на рассмотрении</p>
                    <button mat-raised-button (click)="cancelCourseEnroll(course.id)">Отозвать</button>
                </div>
                <div *ngIf="enrollStatus === 'Approved'">
                    <button  mat-raised-button color="accent" (click)="leaveCourse(course.id)">Покинуть</button>
                    <a mat-raised-button [routerLink]="['/app/student/training', course.id]">Перейти к треннингу</a>
                </div>
            </ng-container>

            <a *ngIf="isUserOwner$ | async" mat-raised-button color="accent" [routerLink]="['/app/teacher']">Управление</a>
        </div>
    </div>
    
    <div class="course-content">
    
        <div class="info-items">
    
            <div class="info-item">
                <div>
                    <span>Начало</span>
                    <span>{{course.startDate | date : 'dd.MM.yyyy'}}</span>
                </div>
                <div>
                    <span>Окончание</span>
                    <span>{{course.endDate | date : 'dd.MM.yyyy'}}</span>
                </div>
                <div>
                    <span>Длительность</span>
                    <span>{{course | timeDuration}}</span>
                </div>
            </div>
    
            <div class="info-item">
                <span>Категория</span>
                <p>{{course.categoryLabel}}</p>
            </div>
    
            <div class="info-item">
                <span>Тип обучения</span>
                <p>Самостоятельное</p>
            </div>
    
        </div>
    
        <div class="modules">
            <h2>Учебные модули</h2>

            <div *ngFor="let module of modules$ | async" class="module-item">
                <h3>{{module.title}}</h3>
                <p>{{module.description}}</p>
            </div>

        </div>

    </div>    
</ng-container>

<ng-template #loader>
    Loading course...
</ng-template>

<ng-template #noCourse>
    No such course
</ng-template>