<ng-container *ngIf="viewData$ | async as viewData">
    <ng-container [ngSwitch]="viewData.mode">
        <ng-container 
            *ngSwitchCase="'SingleProfile'"
            [ngTemplateOutlet]="singleProfile"
            [ngTemplateOutletContext]="{ 
                profile: viewData.profile, 
                progress: viewData.topicsProgress,
                training: viewData.training, 
                course: viewData.profile?.training?.course, 
                hasAccess: viewData.hasAccess 
            }"></ng-container>

        <ng-container 
            *ngSwitchCase="'ProfilesList'"
            [ngTemplateOutlet]="profilesList"></ng-container>
    </ng-container>
</ng-container>

<ng-template #singleProfile 
    let-profile="profile" 
    let-training="training" 
    let-course="course"
    let-progress="progress"
    let-hasAccess="hasAccess"
> 
    <ng-container *ngIf="hasAccess; else noAccess">
        <h2>Прогресс треннинга {{ course.title }}</h2>

        <app-topics-progress-chart 
            [topics]="training.topics"
            [progress]="progress">
        </app-topics-progress-chart>
    </ng-container>
</ng-template>

<ng-template #profilesList>
    <p>Общий прогресс {{'Trainings...'}}</p>
</ng-template>

<ng-template #noAccess>
    <p>Нет доступа к выбранному прогрессу</p>
</ng-template>