<ng-container *ngIf="viewData$ | async as viewData">
    <ng-container [ngSwitch]="viewData.mode">
        <ng-container 
            *ngSwitchCase="'SingleProfile'"
            [ngTemplateOutlet]="singleProfile"
            [ngTemplateOutletContext]="{ profile: viewData.profile, training: viewData.profile?.training, course: viewData.profile?.training?.course, hasAccess: viewData.hasAccess }"></ng-container>

        <ng-container 
            *ngSwitchCase="'ProfilesList'"
            [ngTemplateOutlet]="profilesList"></ng-container>
    </ng-container>
</ng-container>

<ng-template #singleProfile let-profile="profile" let-hasAccess="hasAccess" let-training="training" let-course="course">
    <ng-container *ngIf="hasAccess; else noAccess">
        <p>Прогресс треннинга {{ course.title }}</p>

        <app-progress-chart></app-progress-chart>
    </ng-container>
</ng-template>

<ng-template #profilesList>
    <p>Общий прогресс {{'Trainings...'}}</p>
</ng-template>

<ng-template #noAccess>
    <p>Нет доступа к выбранному прогрессу</p>
</ng-template>