@use '@angular/material' as mat;

@import '../custom-theme.scss';

@include mat.core();

$primary-color-100: mat.get-color-from-palette($green-palette, 100);
$primary-color-200: mat.get-color-from-palette($green-palette, 200);

$accent-color-200: mat.get-color-from-palette($yellow-palette, 200);