:host {
	display: flex;
	flex-direction: column;
	border: 1px solid #333;
}

.upload-inner {
	display: flex;
	flex-direction: column;
	min-height: 120px;
	overflow-y: auto;
}

.files-container {
	display: flex;
	flex-wrap: wrap;
	flex-grow: 1;
	padding: 0 10px;

	&--empty {
		display: block;
	}
}

.file-item {
	width: 23%;
	min-height: 100px;

	& button {
		margin-top: auto;
	}
}

.files-group {
	width: 100%;
	padding: 16px 0px;
	border-bottom: 1px solid #ccc;

	&:last-child {
		border-bottom: none;
	}

	&__time {
		font-size: 14px;
		font-style: italic;
		padding: 4px 0;
	}
}

.group-files-list {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;

	& .file-item {
		max-width: 20%;
		min-width: 100px;
		font-size: 12px;
		border: 1px solid #ccc;
	}
}
