:host {
	display: flex;
	flex-direction: column;
	padding: 10px;
	margin: 5px;
	border: 1px solid #333;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100px;
}

.upload-inner {
	display: flex;
	flex-direction: column;
	min-height: 120px;
	background-color: rgb(233, 239, 255);

	&.download {
		background-color: rgb(248, 255, 225);
		overflow-y: auto;
	}
}

.files-container {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	flex-grow: 1;
	padding: 10px;

	&--empty {
		display: block;
	}
}

.file-item {
	width: 23%;
	min-height: 100px;

	& button {
		margin-top: auto;
	}
}

.files-group {
	width: 100%;
}

.group-files-list {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}
