@import "/src/mixins";

.header {
	padding: 10px 0;
	border-bottom: 1px solid #ccc;
}

.filters {
	display: flex;
	padding: 20px 0;
}

.topic-answer-container {
	min-height: 300px;
}

.task-answers {

}

.topic-task {
	padding: 20px 0;

	&__descr {
		padding-bottom: 4px;
		font-size: 15px;
	}
}

.check-results {
	padding: 20px;
	margin-top: 10px;
}

.task-item-wrapper {
	padding: 5px;
	margin: 10px 0;
}

.task-item {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	max-width: 400px;
	& p {
		padding-right: 10px;
		// white-space: nowrap;
		// text-overflow: ellipsis;
		// overflow: hidden;
	}
}

.check-comment {
	display: block;
	margin: 10px 0;
}

.thread-list {
	&-item {
		@include card;
		border-radius: 6px;
		
		padding: 10px;
		margin: 10px 0;
	}
}

.task-item-checker {
	display: flex;
	align-items: center;
}

.student-files-box {
	height: 240px;
	border: 1px solid #333;
}

.no-task-answers {
	height: 60px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f2f2f2;
	border-radius: 20px;
}
