@import "/src/mixins";

:host {
	padding-bottom: 60px;
}

.header {
	padding: 10px 0;
	border-bottom: 1px solid #ccc;
}

.filters {
	display: flex;
	align-items: center;
	gap: 20px;
	padding: 20px 0;
}

.topic-answer-container {
	min-height: 300px;
}

.task-answers {

}

.topic-task {
	@include card();

	padding: 20px 20px 30px;
	margin: 20px 0;
	&__descr {
		padding-bottom: 8px;
		font-size: 15px;
	}
}

.check-results {
	padding: 20px;
	margin-top: 10px;
}

.task-item-wrapper {
	padding: 5px;
	margin: 10px 0;
}

.task-item {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	max-width: 400px;
	& p {
		padding-right: 10px;
		// white-space: nowrap;
		// text-overflow: ellipsis;
		// overflow: hidden;
	}
}

.check-comment {
	display: block;
	margin: 10px 0;
}

.thread-list {
	&-item {
		border-radius: 6px;
		
		padding: 10px;
		margin: 10px 0;
	}
}

.task-item-checker {
	display: flex;
	align-items: center;
}

.student-files-box {
	height: 240px;
	background-color: #f8f8f8;
	border-radius: 10px;
}

.no-task-answers {
	height: 60px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f2f2f2;
	border-radius: 20px;
}

.test-item{
	padding-bottom: 20px;

	&-input {
		min-width: 100px;
		width: 100px;
	}
}