<app-back-btn>Назад</app-back-btn>

<ng-container *ngIf="viewData$ | async as viewData; else loader">
	<div class="header">
		<h2>Оценивание</h2>
		<p>Выберите студента и тему курса, для того чтобы начать оценивание.</p>
	</div>

	<div class="filters" [formGroup]="checkConfigForm">
		<label>
			<mat-form-field>
				<mat-label>Студент</mat-label>
				<mat-select formControlName="profile">
					<mat-option
						*ngFor="let profile of viewData.members"
						[value]="profile._id"
					>
						{{ profile.student.username }}
					</mat-option>
				</mat-select>
			</mat-form-field>
		</label>

		<label>
			<mat-form-field>
				<mat-label>Тема</mat-label>
				<mat-select #topicSelect formControlName="topic">
					<mat-option
						*ngFor="let topic of viewData.training.topics"
						[value]="topic.id"
					>
						{{ topic.title }}
					</mat-option>
				</mat-select>
			</mat-form-field>
		</label>
	</div>

	<ng-container *ngIf="checkTasks$ | async as checkTasks; else noTask">
		<ng-container
			*ngIf="(isLoadingAnswers$ | async) !== true; else answersLoader"
		>
			<h3>Задания студента по выбранной теме</h3>

			<div class="topic-answer-container">
				<div
					class="topic-task"
					*ngFor="let checkTask of checkTasks; let i = index"
				>
					<p class="topic-task__descr">Задание {{ i + 1 }}. {{ checkTask.task.taskDescr }}</p>
					<div
						*ngIf="checkTask.thread; else noAnswers"
						class="task-answers">

						<app-grouping-upload-box
							class="student-files-box"
							[folder]="checkTask.folder"
							label="Файлы на проверку от студента">
						</app-grouping-upload-box>
						
						<div class="thread-list">
							<div
								class="thread-list-item"
								*ngFor="let reply of checkTask.thread">
								<h4>{{ reply.message }}</h4>
								<p>{{ reply.date }}</p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="check-results">
				<h3>Подведение результатов</h3>

				<div
					*ngFor="
						let taskCheck of checkTasks;
						let i = index;
						trackBy: tasksResultsTrackBy
					"
					class="task-item-wrapper"
				>
					<h4>Задание {{ i + 1 }}</h4>
					<p class="descr">{{ taskCheck.task.taskDescr }}</p>
					<app-training-task-result
						[task]="taskCheck.task"
						[form]="resultsFormMap[taskCheck.task.id]"
					>
					</app-training-task-result>
				</div>

				<button
					mat-raised-button
					color="accent"
					(click)="onSaveCheckResults($event)"
				>
					Сохранить
				</button>
			</div>
		</ng-container>
	</ng-container>
</ng-container>

<ng-template #loader>
	<p>Please wait. Loading training data...</p>
</ng-template>

<ng-template #noAnswers>
	<div class="no-task-answers">
		<p>Ответов на задание пока что нет.</p>
	</div>
</ng-template>

<ng-template #noTask>
	<p>Конфигурация проверки не настроена.</p>
</ng-template>

<ng-template #answersLoader>
	<p>Загружаем профиль студента.</p>
</ng-template>
