<app-back-btn>Назад</app-back-btn>

<form class="task-form-container" [formGroup]="form">
	<h2>Создание задания</h2>

	<div class="task-create">
		<div class="row">
			<label>
				<p class="label">Выберите тренинг</p>
				<mat-form-field>
					<mat-label>Тренинг</mat-label>
					<mat-select formControlName="training">
						<mat-option
							*ngFor="let training of trainings$ | async"
							[value]="training.uuid"
						>
							{{ training.course.title }}
						</mat-option>
					</mat-select>
				</mat-form-field>
			</label>
		
			<label *ngIf="topics$ | async as topics">
				<p class="label">Выберите тему тренинга</p>
				<mat-form-field>
					<mat-label>Тема</mat-label>
					<mat-select formControlName="topic">
						<mat-option
							*ngFor="let topic of topics" 
							[value]="topic.id"
						>
							{{ topic.title }}
						</mat-option>
					</mat-select>
				</mat-form-field>
			</label>
		</div>
	
		<ng-container *ngIf="shouldShowTaskForm">
	
			<div class="task-form">
				<h4>Заполните данные о задании</h4>
	
				<div class="prop">
					<mat-form-field>
						<mat-label>Условие задания</mat-label>
						<input matInput formControlName="taskDescr" />
						<mat-error>
							<val-errors controlName="taskDescr"></val-errors>
						</mat-error>
					</mat-form-field>
				</div>
	
				<div class="prop">
					<p class="label">Ресурсы</p>
					<app-upload-box
						class="upload-box"
						type="upload"
						[folder]="uploadFolder"
						controlId="controlId"
						serveFrom="local"
						(uploadFilesChanged)="onUploadFilesChanged($event)"
					></app-upload-box>
				</div>
	
			</div>
	
			<button class="create-btn" mat-raised-button (click)="createTask()">Создать</button>
		</ng-container>
	</div>
</form>

<div class="tasks">
	<h2>Мои задания</h2>
	<div class="tasks-list">
		<div *ngFor="let taskItem of tasks$ | async" class="task-item">
			<a
			class="training text-link"
				[routerLink]="[
					'/app/teacher/training',
					taskItem.training.uuid,
					'manage'
				]"
			>
				{{ taskItem.training.course.title }}
			</a>
	
			<p *ngIf="getTopic(taskItem)?.title as topicTitle">Тема: {{ topicTitle }}</p>
	
			<p class="descr">Условие: {{ taskItem.task.taskDescr }}</p>
		</div>
	</div>
</div>
