<ng-container *ngIf="user$ | async as user">
	<h1>С возвращением, {{ user.username }}</h1>

	<ng-container *ngIf="user.role === 'user'">

		<ng-container *ngIf="dashboard$ | async as dashboard">
		
			<div class="section courses">
				<h2>Мои тренинги</h2>
		
				<div class="trainings__list">
					<ng-container
						*ngFor="let profile of dashboard.profiles | sortStudentTraining"
						[ngTemplateOutlet]="trainingItem"
						[ngTemplateOutletContext]="{
							profile: profile,
							course: profile.training.course
						}">
					</ng-container>
				</div>
			</div>
		
			<div class="progress section">
				<h2>Прогресс</h2>
		
				<h3>Верхнеуровневый обзор тренингов</h3>
				<div class="progress__list">
		
					<ng-container *ngFor="let chart of dashboard.overallInfoCharts">
						<div class="chart-card">
							<span>
								{{ chart.options.training.course.title }}
							</span>
							<app-training-completeness-chart
								*ngIf="chart.config; else noChartData"
								[config]="chart.config">
							</app-training-completeness-chart>
						</div>
					</ng-container>
		
				</div>
		
			</div>
		
		</ng-container>

	</ng-container>

</ng-container>


<ng-template #trainingItem let-course="course" let-profile="profile">
	<a
		[routerLink]="['/app/student/profile', profile.uuid, 'training']"
		class="training-item"
	>
		<p class="training-item__status" [ngClass]="profile.training.status">{{ profile.training.status === 'active' ? 'Активен' : 'В архиве' }}</p>
		<img class="training-item__poster" [src]="course.banner" alt="">
		<div class="training-item__content">

			<h3 class="training-item__title">{{ course.title }}</h3>
			<div class="row">
				<p class="training-item__start">Старт: {{ profile.training.startAt | date : 'dd.MM.yy' }}</p>
				<p class="training-item__duration">
					<span class="material-icons-outlined">
						timelapse
					</span>	
					{{ course | courseDuration }} дн.
				</p>
			</div>
			<!-- <div class="training-item__comps">
				<span>Вы изучите</span>
				<div class="training-item__comps-list">
					<span *ngFor="let comp of course.competencies?.acquired">
						{{ comp }}
					</span>
				</div>
			</div> -->
			
		</div>
	</a>
</ng-template>

<ng-template #loader>
	<p>Loading...</p>
</ng-template>

<ng-template #noChartData>
	<p>Нет данных</p>
</ng-template>
