.training-item {
	display: inline-block;
	padding: 20px;
	background-color: rgb(221, 243, 255);
	margin: 10px;
	border-radius: 16px;
}

.chart-card {
	width: 360px;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 0px 1px 5px #ccc;
}

.progress__list {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}