@import "/src/mixins.scss";

.trainings__list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 10px;
}
.training-item {
	@include card();

	display: inline-block;
	margin: 10px;
	border-radius: 16px;
	overflow: hidden;
	width: 260px;
	min-height: 300px;
	
	&__poster {
		width: 100%;
		min-height: 160px;
		height: 160px;
		object-fit: cover;
	}

	&__content {
		padding: 10px;
	}
}

.chart-card {
	@include card();

	width: 360px;
	padding: 10px;
}

.progress__list {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}