<ng-container *ngIf="course">
    <nav class="nav">
        <ul class="nav-list">
            <li>
                <a routerLink="./">Главная</a>
            </li>
            <ul class="modules-list" *ngFor="let module of course.modules, let i = index">
                <li>
                    {{module.title}}
                </li>
                <ul class="topics-list">
                    <li 
                    [class.actual]="topic.isActual"
                    class="topic-item" *ngFor="let topic of module.topics, let j = index">
                        <a [routerLink]="[]" [queryParams]="{ topic: topic.id }">{{topic.title}}</a>
                    </li> 
                </ul>
            </ul>
        </ul>
    </nav>
</ng-container>