<ng-content></ng-content>

<button [class.active]="isActive" class="action-btn" mat-raised-button (click)="onToggle()" [color]="isActive ? 'primary' : ''">
    <span class="material-icons-outlined">
        rate_review
    </span>
</button>

<ng-container *ngIf="isActive">
    <ng-container
        [ngTemplateOutlet]="comments"
        [ngTemplateOutletContext]="{ form, items: getItems() }"
    ></ng-container>
</ng-container>

<ng-template #comments let-items="items">
    <mat-form-field appearance="standard" [formGroup]="form">
        <mat-select 
            (selectionChange)="onChange($event)"    
            multiple 
            disableOptionCentering
            [formControlName]="control">
            <mat-option *ngFor="let option of items" [value]="option">
                {{option.label}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</ng-template>