<form [formGroup]="form">
	<mat-form-field
			*appFormElWrapper="
			form;
			control: 'taskDescr';
			type: 'edit'
		"
		class="task-descr">
		<mat-label>Условие</mat-label>
		<textarea 
		matInput 
		rows="3"
		required
		formControlName="taskDescr"></textarea>
		<mat-error>
			<val-errors controlName="taskDescr"></val-errors>	
		</mat-error>
	</mat-form-field>

	<div class="field">
		<ng-container *appFormElWrapper="
			form;
			control: 'materials';
			type: 'edit';
			reviewType: 'file';
			isVertical: true;
			">
			<app-upload-box
				class="upload-box"
				[type]="uploadType"
				[folder]="uploadFolder"
				[controlId]="controlId"
				serveFrom="local"
				[preloadExisting]="shouldPreloadExisting"
				[autoRemoveOnDestroy]="false"
				(uploadFilesChanged)="onUploadFilesChanged($event)"
				label="Загрузите материалы к заданию"
			></app-upload-box>
		</ng-container>
	</div>
</form>
