:host {
	padding-bottom: 60px;
}

.menu {
	display: flex;
	gap: 20px;
	padding: 20px 0;
	border-bottom: 1px solid #ccc;
}

.courses-list {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;

	&.published {
		display: flex;
		flex-wrap: wrap;
	}
}

.course-item {
	display: flex;
	align-items: center;
	flex-direction: column;
	text-decoration: none;
	color: inherit;
	max-width: 300px;
	width: 100%;
	min-height: 100px;
	padding: 10px;
	border-radius: 10px;
	background-color: #f5f5ff;

	&.published {
		max-width: 100%;
		min-height: 80px;
		flex-direction: row;
		justify-content: space-between;
		padding: 10px 20px;
	}
}
