<div class="student-info">
	<img
		crossorigin="anonymous"
		referrerpolicy="no-referrer"
		class="student-avatar"
		[src]="profile.student.photo"
		alt="User avatar"
	/>
	<span class="student-username">{{ profile.student.username }}</span>
</div>

<div class="action-buttons" [ngSwitch]="status">
	<ng-container
		*ngSwitchCase="'approved'"
		[ngTemplateOutlet]="approvedActions"
	>
	</ng-container>

	<ng-container *ngSwitchCase="'pending'" [ngTemplateOutlet]="pendingActions">
	</ng-container>
</div>

<ng-template #approvedActions>
	<a [routerLink]="['../check', profile.uuid]" mat-stroked-button>Проверка</a>
	<!-- <a [routerLink]="['../profile', profile.uuid]" mat-stroked-button>Прогресс</a> -->
	<button mat-stroked-button (click)="onExpel()">Исключить</button>
</ng-template>

<ng-template #pendingActions>
	<button mat-stroked-button (click)="onEnroll()">Зачислить</button>
	<button mat-stroked-button (click)="onReject()">Отклонить</button>
</ng-template>
