<div class="student-info">
	<img
		crossorigin="anonymous"
		referrerpolicy="no-referrer"
		class="student-avatar"
		[src]="user.photo"
		alt="User avatar"
	/>
	<span class="student-username">{{ user.username }}</span>
</div>

<div class="action-buttons" [ngSwitch]="status">
	<ng-container
		*ngSwitchCase="'approved'"
		[ngTemplateOutlet]="approvedActions">
	</ng-container>

	<ng-container 
        *ngSwitchCase="'pending'" 
        [ngTemplateOutlet]="pendingActions">
	</ng-container>
</div>

<ng-template #approvedActions>
	<button mat-stroked-button>Прогресс</button>
	<button mat-stroked-button (click)="onExpel(user.uuid)">Исключить</button>
</ng-template>

<ng-template #pendingActions>
	<button mat-stroked-button>Статус</button>
	<button mat-stroked-button (click)="onEnroll(user.uuid)">Зачислить</button>
	<button mat-stroked-button (click)="onReject(user.uuid)">Отклонить</button>
</ng-template>
