<form [formGroup]="form">
	<div class="filters">
		<label class="filters-training">
			<select formControlName="training">
				<option
					*ngFor="let training of trainings$ | async"
					[value]="training._id"
				>
					{{ training.course.title }}
				</option>
			</select>
		</label>

		<label class="filters-topic">
			<select formControlName="topic" *ngIf="topics$ | async as topics">
				<option [value]=""></option>
				<option *ngFor="let topic of topics" [value]="topic.id">
					{{ topic.title }}
				</option>
			</select>
		</label>

		<label class="filters-task">
			<ng-container *ngIf="tasks$ | async as tasks">
				<select formControlName="task">
					<option [value]=""></option>
					<option *ngFor="let task of tasks" [value]="task.id">
						{{ task.taskDescr }}
					</option>
				</select>
			</ng-container>
		</label>
	</div>

	<ng-container *ngIf="personalizations$ | async as personalizations">
		<div
			class="filters-personalizations"
			formArrayName="personalizations"
			*ngIf="personalizations.length > 0"
		>
			<label
				class="profile-label"
				*ngFor="
					let pers of form.controls.personalizations.controls;
					let i = index
				"
				[formGroupName]="i"
			>
				<input formControlName="hasOpening" type="checkbox" />
				<span>{{ pers.value.profile.student.username }}</span>
			</label>
		</div>
	</ng-container>
</form>

<button (click)="applyOpenings()" [disabled]="!isListChanged">
	Применить разблокировку
</button>

<ng-template #noTasks>
	<p>В теме нет практических заданий</p>
</ng-template>
