<a mat-raised-button [routerLink]="['/app/dashboard']" class="back-btn">
    Назад
</a>

<div class="container">

    <nav class="sidenav" *ngIf="modules$ | async as modules">
        <ul class="sidenav-list">
            <li><a routerLink=".">Главная</a></li>
            <ul class="sidenav-modules-list">
                <ul *ngFor="let module of modules; let i = index">
                    <li>
                        <a 
                        routerLink="."
                        [queryParams]="{ module: i + 1 }">
                            Модуль {{ i + 1 }}. {{ module.title }}
                        </a>
                    </li>
                    <ul class="sidenav-module-topics-list">
                        <li *ngFor="let topic of module.topics; let j = index">
                            <a 
                            routerLink="."
                            [queryParams]="{ module: i + 1, topic: j + 1 }">
                                Тема {{ j + 1 }}. {{ topic.title }}
                            </a>
                        </li>
                    </ul>
                </ul>
            </ul>
        </ul>
    </nav>

    <ng-container *ngIf="courseData$ | async as courseData">
        <div class="form-container">
            <app-course-form 
                [formMode]="courseData.formMode"
                [formData]="courseData.formData"
                [viewData]="courseData.viewData"
                (createReviewVersion)="onCreateReviewVersion($event)"
                (moduleAdded)="onModuleAdded($event)">
            </app-course-form>
        </div>
    </ng-container>

</div>


<ng-template #loader>
    Loading course data...
</ng-template>

<ng-template #sentOnReview>
    Course sent to admin on review.
</ng-template>