<app-back-btn>Назад</app-back-btn>

<h2>Создание пакета курсов</h2>
<p>Выберите несколько курсов и объедините их в один пакет.</p>
<p>
	Пакеты курсов позволяют выстроить комплексный процесс обучения в выбранной
	области знаний.
</p>

<form class="builder" [formGroup]="bundleForm">
	<div class="main-info">
		<mat-form-field>
			<mat-label>Название</mat-label>
			<input
				matInput
				required
				formControlName="title"
				type="text"
			/>
			<mat-error>
				<val-errors controlName="title"></val-errors>	
			</mat-error>
		</mat-form-field>

		<mat-form-field class="bundle__descr">
			<mat-label>Описание</mat-label>
			<textarea
				matInput
				formControlName="description"
				required
				rows="4"
			></textarea>
			<mat-error>
				<val-errors controlName="description"></val-errors>
			</mat-error>
		</mat-form-field>
	</div>

	<app-layout>
		<div slot="sidebar" class="teacher-courses-list">
			<h3>Курсы для создания пакета</h3>
			<mat-form-field>
				<mat-label>Поиск</mat-label>
				<input matInput (input)="search(searchInput.value)" #searchInput>
			</mat-form-field>
			<div class="teacher-courses-list__courses">
				<div *ngFor="let course of teacherCourses" class="course-card">
					<p>{{ course.title }}</p>
					<a class="course-card__author" 
					[routerLink]="['/app/user/wall', course.authorId]">
						<img class="course-card__author-img" [src]="course.author?.photo" alt="">
						{{course.author?.username}}
					</a>
					<button 
					mat-raised-button
					color="primary"
					class="course-card__btn" (click)="addToBundle(course)">
						Добавить в пакет
						<span class="material-icons-outlined">
							add_circle_outline
						</span>
					</button>
				</div>
			</div>
		</div>

		<div slot="main" class="bundle-list">
			<h3>Курсы пакета</h3>
			<div class="bundle-list__courses">
				<div
					*ngFor="let course of bundleForm.value.courses"
					class="course-card"
				>
					<p>{{ course.title }}</p>
					<a class="course-card__author" 
						[routerLink]="['/app/user/wall', course.authorId]">
						<img class="course-card__author-img" [src]="course.author?.photo" alt="">
						{{course.author?.username}}
					</a>
					<button 
					mat-raised-button
					class="course-card__btn"
					(click)="removeCourseFromBundle(course)">
						Убрать
						<span class="material-icons-outlined">
							remove_circle_outline
						</span>
					</button>
				</div>
			</div>

			<button 
			class="bundle__create-btn"
			mat-raised-button
			color="primary"
			*ngIf="bundleCourses.length > 1" (click)="createBundle()">
				Создать пакет
			</button>
		</div>
	</app-layout>
</form>
