@import "/src/mixins";

.builder {
	// display: flex;
}

.main-info {
	padding-left: 280px;
	max-width: 460px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.bundle-list {
	margin-left: 40px;
	display: flex;
	flex-direction: column;

	&__courses {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 20px;
	}
}

.teacher-courses-list {

	&__courses {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}
}

.course-card {
	@include card($br: 10px);

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	
	padding: 20px;
	width: 240px;
	min-height: 120px;

	&__btn {
		margin-top: auto;
		align-self: flex-end;
	}
}

.bundle {
	&__create-btn {
		margin-top: 20px;
		margin-left: auto;
	}
	
	&__descr {
		width: 420px;
	}
}