<p>{{ task.taskDescr }}</p>

<div>
    <app-upload-box 
    [label]="'Материалы к заданию'" 
    [folder]="taskMaterialsFolder"
    [controlId]="controlId"
    type="download"></app-upload-box>
</div>

<form [formGroup]="form">

    <app-upload-box 
        [label]="uploadLabel" 
        [folder]="uploadFilesFolder"
        [controlId]="controlId"
        type="upload"
        (uploadFilesChanged)="onUpload($event)"></app-upload-box>

    <textarea formControlName="comment" cols="30" rows="10" placeholder="Комментарий"></textarea>

    <button (click)="onSend()">Отправить</button>
</form>