<div class="task-header">
	<p class="task-header__note blocked" *ngIf="!isActual && task.isOpened !== true">
		Задание недоступно для отправки
	</p>
	<p *ngIf="!isActual && task.isOpened === true" class="task-header__note unblocked">
		Задание было разблокировано
	</p>
	
	<span class="task-header__descr-subtitle">Условие задания</span>

	<p class="task-header__descr">{{ task.taskDescr }}</p>
</div>

<div>
	<app-upload-box
		[label]="'Материалы к заданию'"
		[folder]="taskMaterialsFolder"
		[controlId]="controlId"
		type="download"
	></app-upload-box>
</div>

<form class="task-form" [formGroup]="form" *ngIf="isActual || task.isOpened">
	<app-upload-box
		class="upload-box"
		#uploadBox
		[label]="uploadLabel"
		[folder]="uploadFilesFolder"
		[controlId]="controlId"
		[useCache]="false"
		[appendTimestamp]="true"
		type="upload"
		[clearObs$]="clearUploadBox$"
		[autoRemoveOnDestroy]="true"
		(uploadFilesChanged)="onUpload($event)"
	></app-upload-box>

	<textarea
		class="textarea"
		formControlName="comment"
		placeholder="Комментарий к заданию"
		rows="3"
	></textarea>

	<button mat-raised-button class="submit-btn" (click)="onSend()" color="primary">Отправить</button>
</form>
