<h2>Вход</h2>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
	<mat-form-field class="example-full-width">
		<mat-label>Email</mat-label>
		<input formControlName="email" matInput required type="email" />
		<mat-error>
			<val-errors controlName="email"></val-errors>
		</mat-error>
	</mat-form-field>
	<mat-form-field>
		<mat-label>Password</mat-label>
		<input formControlName="password" matInput required type="password" />
		<mat-error>
			<val-errors controlName="password"></val-errors>
		</mat-error>
	</mat-form-field>
	<button
		mat-raised-button
		color="primary"
		type="submit"
		[disabled]="isLoading"
	>
		Войти
	</button>
</form>

<div class="external">
	<p>Либо используйте другой способ входа</p>
	<button mat-raised-button (click)="login('google')">
		Google
	</button>
</div>

<p>Нет аккаунта? <a routerLink="../signup" class="text-link">Зарегистрируйтесь</a></p>
