<div>
    <span>
        User: {{(userService.user$ | async)?.username ?? 'no user'}}
    </span>
    <img referrerpolicy="no-referrer" style="width: 100px" [src]="(userService.user$ | async)?.photo ?? ''" alt="User avatar photo">
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
	<mat-form-field class="example-full-width">
		<mat-label>Email</mat-label>
		<input formControlName="email" matInput type="email" />
	</mat-form-field>
	<mat-form-field>
		<mat-label>Password</mat-label>
		<input formControlName="password" matInput type="password" />
	</mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="isSubmitDisabled">Войти</button>
</form>

<p>Либо используйте другой способ входа</p>
<button mat-raised-button color="primary" (click)="login('google')">Google</button>
<a mat-raised-button color="primary" (click)="login('twitter')">Twitter</a>