<form class="course-form" [formGroup]="courseForm">

    <ng-container 
        [ngTemplateOutlet]="form"
        [ngTemplateOutletContext]="{ viewMode, form: courseForm }"
    ></ng-container>
	
</form>

<ng-template #form let-viewMode="viewMode" let-form="form">
    <ng-container [ngSwitch]="viewMode">
        
        <!-- Template for review mode -->
        <ng-container *ngSwitchCase="viewModes.Review">
            <ng-container
                [ngTemplateOutlet]="reviewForm"
                [ngTemplateOutletContext]="{ form }"
            ></ng-container>
        </ng-container>

        <ng-container *ngSwitchDefault>
            <ng-container
                [ngTemplateOutlet]="changableForm"
                [ngTemplateOutletContext]="{ form }"
            ></ng-container>
        </ng-container>

    </ng-container>
</ng-template>

<!-- Template for editable mode (create, update, edit) -->
<ng-template 
    #changableForm 
    let-form="form"
    let-editorForm="form.controls.editorComments">
    
    <app-form-element-review-wrapper 
        type="edit"
        [form]="editorForm" 
        control="title">
        <mat-form-field appearance="fill" [formGroup]="form">
            <mat-label>Название курса</mat-label>
            <input matInput formControlName="title" />
        </mat-form-field>
    </app-form-element-review-wrapper>
    
    <app-form-element-review-wrapper 
        type="edit"
        [form]="editorForm" 
        control="description">
        <mat-form-field appearance="fill" [formGroup]="form">
            <mat-label>Описание курса</mat-label>
            <textarea matInput formControlName="description"></textarea>
        </mat-form-field>
    </app-form-element-review-wrapper>

    <ng-container 
        [ngTemplateOutlet]="categories"
        [ngTemplateOutletContext]="{ form, editorForm }"
    ></ng-container>

    <ng-container 
        [ngTemplateOutlet]="dates"
        [ngTemplateOutletContext]="{ form, editorForm }"
    ></ng-container>

    <ng-container 
        [ngTemplateOutlet]="modules"
        [ngTemplateOutletContext]="{ form, editorForm }"
    ></ng-container>

    <button mat-raised-button color="primary" (click)="onSubmit('edit')">Отправить</button>
</ng-template>

<ng-template 
    #reviewForm 
    let-form="form" 
    let-editorForm="form.controls.editorComments"
    let-editorFormModules="form.controls.editorComments.controls.modules">

    <app-form-element-review-wrapper 
        type="review"
        [form]="editorForm" 
        control="title">
        <div class="property">
            <span>Название курса</span>
            <h2>{{form.value.title}}</h2>
        </div>
    </app-form-element-review-wrapper>

    <app-form-element-review-wrapper
        type="review"
        [form]="editorForm" 
        control="description">
        <div class="property">
            <span>Описание курса</span>
            <p>{{form.value.description}}</p>
        </div>
    </app-form-element-review-wrapper>

    <app-form-element-review-wrapper 
        type="review"
        [form]="editorForm" 
        control="categories"
        reviewType="checkbox">
        <div class="categories">
            <div class="property _category-row">
                <span>Категория</span>
                <span>{{form.value.category}}</span>
            </div>
            <div class="property _category-row">
                <span>Подкатегория</span>
                <span>{{form.value.subcategory}}</span>
            </div>
        </div>
    </app-form-element-review-wrapper>

    <app-form-element-review-wrapper 
        type="review"
        [form]="editorForm" 
        control="dates"
        reviewType="dates">
        <div class="dates">
            <div class="property">
                <span>Начало</span>
                <span>{{form.value.startTime}}</span>
            </div>
            <div class="property">
                <span>Окончание</span>
                <span>{{form.value.endTime}}</span>
            </div>
            <div class="property">
                <span>Длительность</span>
                <span>8 недель</span>
            </div>
        </div>
    </app-form-element-review-wrapper>

    <h2>Модули</h2>
    <div class="modules">
        <div 
            *ngFor="let module of form.value.modules; let i = index"
            class="admin-module">
            <h3>Модуль {{i + 1}}.</h3>
            <app-form-element-review-wrapper
                type="review"
                [form]="editorFormModules.controls[i]"
                control="title">
                <div class="property">
                    <span>Название</span>
                    <p class="">{{module.title}}</p>
                </div>
            </app-form-element-review-wrapper>

            <app-form-element-review-wrapper
                type="review"
                [form]="editorFormModules.controls[i]"
                control="description">
                <div class="property">
                    <span>Описание</span>
                    <p class="">{{module.description}}</p>
                </div>
            </app-form-element-review-wrapper>
            
            <div class="module-topics">
                <div *ngFor="let topic of module.topics; let j = index" class="admin-module-topic">
                    <h4>Тема {{j + 1}}.</h4>

                    <app-form-element-review-wrapper
                        type="review"
                        [form]="editorFormModules.controls[i].controls.topics.controls[j]"
                        control="title">
                        <div class="property">
                            <span>Название</span>
                            <p class="">{{topic.title}}</p>
                        </div>
                    </app-form-element-review-wrapper>
                    
                    <app-form-element-review-wrapper
                        type="review"
                        [form]="editorFormModules.controls[i].controls.topics.controls[j]"
                        control="description">
                        <div class="property">
                            <span>Описание</span>
                            <p class="">{{topic.description}}</p>
                        </div>
                    </app-form-element-review-wrapper>
                    
                </div>
            </div>
        </div>
    </div>

    <button mat-raised-button color="primary" (click)="onSubmit('review')">Сохранить</button>
</ng-template>

<ng-template #categories let-form="form" let-editorForm="editorForm">
    <app-form-element-review-wrapper
        type="edit"
        [form]="editorForm"
        control="categories">
        <div class="categories-container" [formGroup]="form">
            <div class="category-row">
                <mat-form-field appearance="fill">
                    <mat-label>Категория</mat-label>
                    <input
                        type="text"
                        aria-label="Number"
                        matInput
                        formControlName="category"
                        [matAutocomplete]="categoriesAutocomplete"
                    />
                    <mat-autocomplete #categoriesAutocomplete="matAutocomplete">
                        <mat-option value="test1">Test 1</mat-option>
                        <mat-option value="test2">Test 2</mat-option>
                        <mat-option value="test3">Test 3</mat-option>
                        <mat-option value="test4">Test 4</mat-option>
                    </mat-autocomplete>
                </mat-form-field>

                <mat-checkbox
                    #customCategory
                    (change)="onChangeCustomCategory($event, 'userCategory')"
                    >Свой вариант</mat-checkbox
                >

                <mat-form-field *ngIf="customCategory.checked" appearance="fill">
                    <mat-label>Своя категория</mat-label>
                    <input matInput formControlName="userCategory" />
                </mat-form-field>
            </div>

            <div class="category-row">
                <mat-form-field appearance="fill">
                    <mat-label>Подкатегория</mat-label>
                    <input matInput formControlName="subcategory" />
                </mat-form-field>

                <mat-checkbox
                    #customSubcategory
                    (change)="onChangeCustomCategory($event, 'userSubcategory')"
                    >Свой вариант</mat-checkbox
                >

                <mat-form-field *ngIf="customSubcategory.checked" appearance="fill">
                    <mat-label>Своя подкатегория</mat-label>
                    <input matInput formControlName="userSubcategory" />
                </mat-form-field>
            </div>
        </div>
    </app-form-element-review-wrapper>
</ng-template>

<ng-template #dates let-form="form" let-editorForm="editorForm">
    <app-form-element-review-wrapper
        type="edit"
        [form]="editorForm"
        control="dates">
        <mat-form-field appearance="fill" [formGroup]="form">
            <mat-label>Длительность курса</mat-label>
            <mat-date-range-input [rangePicker]="picker">
                <input
                    matStartDate
                    placeholder="Начало"
                    formControlName="startDate"
                />
                <input
                    matEndDate
                    placeholder="Окончание"
                    formControlName="endDate"
                />
            </mat-date-range-input>
            <mat-hint>MM.DD.YYYY – MM.DD.YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
    </app-form-element-review-wrapper>
</ng-template>

<ng-template #modules let-form="form" let-editorForm="editorForm">
    <h2>Модули курса</h2>

    <!-- TODO: Add Icon instead of text  -->
	<button mat-stroked-button color="primary" (click)="addModule()">
		Добавить модуль
	</button>
	<mat-accordion multi [formGroup]="form">
		<mat-expansion-panel
			*ngFor="let moduleForm of modulesControls; let i = index"
			[expanded]="i === 0"
            [formGroup]="moduleForm"
		>
			<mat-expansion-panel-header>
				<mat-panel-title>
                    {{ i + 1 }}.
					{{
						module.title !== '' ? module.title : 'Модуль ' + (i + 1)
					}}
                </mat-panel-title>
			</mat-expansion-panel-header>
			<app-course-module #module [form]="moduleForm" [editorModulesForm]="editorForm.controls.modules.controls[i]"></app-course-module>
			<mat-action-row>
				<!-- TODO: Add Trash Icon instead of text  -->
				<button
					mat-stroked-button
					color="primary"
					[disabled]="i === 0 && modulesControls.length === 1"
					(click)="removeModule(i)"
				>
					Удалить
				</button>
			</mat-action-row>
		</mat-expansion-panel>
	</mat-accordion>
</ng-template>

<ng-template #createFormFooter>
    <button
        mat-stroked-button
        color="primary"
        (click)="onSubmit('publish')"
    >
        Опубликовать
    </button>
</ng-template>

<ng-template #updateFormFooter>
    <button
        mat-stroked-button
        color="primary"
        (click)="onSubmit('update')"
    >
        Сохранить
    </button>
</ng-template>