<nav>
	<a routerLink="/" class="logo">
		<img class="logo-img" src="assets/logo-text.svg" alt="">
	</a>
	<ul class="nav-list">
		<li>
			<a class="link" [routerLink]="'/'">
				<img src="assets/icons/dashboard.svg">
				Главная
			</a>
		</li>
		<li>
			<a class="link" [routerLink]="['learn']">
				<img src="assets/icons/learn.svg">
				Обучение
			</a>
		</li>
		<!-- <li>
			<a class="link" [routerLink]="['learn']">
				<img src="assets/icons/learn.svg">
				Мои тренинги
			</a>
		</li> -->
		<li>
			<a class="link" [routerLink]="['student/progress']">
				<span class="material-icons-outlined">
					signal_cellular_alt
				</span>
				Прогресс
			</a>
		</li>
		<!-- <li><a [routerLink]="['boards']">Доски</a></li>
		<li><a [routerLink]="">Чат</a></li>
		<li><a [routerLink]="">Статистика</a></li> -->

	</ul>
	<div class="nav-footer">
		<button mat-raised-button class="logout-btn" (click)="logout()">
			<img src="assets/icons/logout.svg">
			Выйти
		</button>
	</div>
</nav>
