@import "/src/mixins";

:host {
	padding: 10px;
}

.logo {
	display: flex;
	align-items: center;
	justify-content: center;
	align-self: center;
	width: 80px;
	height: 80px;
	// background-color: #fff;
	border-radius: 50%;
	&-img {
		height: 70px;
	}
}

nav {
	@include card($br: 20px);

	display: flex;
	flex-direction: column;
	background-color: #fff;
	height: 100%;
	font-size: 14px;
	overflow: hidden;
}

.nav-list {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.link {
	display: flex;
	align-items: center;
	width: 100%;
	padding: 20px;
	transition: .2s;

	& img {
		display: inline-block;
		margin-right: 10px;
	}

	&:hover {
		background-color: var(--primary-50);
	}
}

.nav-footer {
	background-color: var(--primary-50);
	padding: 20px 0;
}
.logout-btn {
	width: calc(100% - 30px);
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	padding-top: 4px;
	padding-bottom: 4px;

	& img {
		width: 18px;
		margin-right: 10px;
	}
}