:host {
	padding-bottom: 60px;
}

.filters {
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 10px;
	border-bottom: 1px solid #ccc;
}

.topic-task {
	position: relative;
	padding: 10px 10px 10px 20px;

	&.common::before {
		content: '';
		position: absolute;
		left: 0;
		top: 10px;
		width: 14px;
		height: 14px;
		border-radius: 50%;
		background-color: rgb(255, 242, 55);
		border: 1px solid #333;
	}
}

.training-program {
	margin-top: 30px;
}
