:host {
	display: flex;
	flex-direction: column;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100px;
	border: 1px solid #777;
	border-radius: 8px;
	overflow: hidden;
}

.dropzone {
	flex-grow: 1;
	position: relative;
}

.dropzone.fileover {
	& .dropzone-wrapper {
		opacity: 1;
	}

	& .upload-inner .upload-box-footer *,
	& .upload-inner .files-container * {
		// pointer-events: none;
		// background-color: green;
		// color: red;
	}
}

.pick-files-btn {
	cursor: pointer;
	color: var(--primary-500);
}

.dropzone-wrapper {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(122, 122, 122, 0.644);
	color: #fff;
	z-index: 2;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.3s;
}

.file-input {
	position: absolute;
	width: 0;
	opacity: 0;
}

.upload-inner {
	display: flex;
	flex-direction: column;
	min-height: 120px;

	&.download {
		overflow-y: auto;
	}

	&.no-items {
		align-items: center;
		justify-content: center;
	}
}

.files-container {
	display: grid;
    grid-template-columns: repeat(4, 1fr);
	justify-items: stretch;
	gap: 10px 8px;
	padding: 10px;

	&--empty {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 4px;
		color: #777;

		& .icon {
			font-size: 48px;
		}

		& span {
			font-size: 12px;
		}

		& .title {
			font-size: 16px;
			font-weight: 700;
		}
	}
}

.upload-box-footer {
	height: 40px;
}

.file-item {
	// width: 24%;
	min-width: 110px;
	height: 100px;
	border: 1px solid #333;
	border-radius: 8px;
	overflow: hidden;

	& button {
		margin-top: auto;
	}
}
