<ng-container *ngIf="files$ | async as files; else loader">

    <div  *ngIf="!downloadOnly" class="dropzone" appDnd (filesDropped)="onFilesDropped($event)">

        <div class="dropzone-wrapper">
            Отпустите файлы здесь.
        </div>
        <input class="file-input" type="file" [id]="fileInputId" multiple (change)="onChange($event)">

        <ng-container *ngIf="files.length > 0; else emptyDropzone">    
            <div class="files-container">
                <div *ngFor="let file of files"
                class="file-item" 
                (click)="downloadFile(file.filename, file.url)">
                    {{file.filename}}
                </div>
            </div>
            <label class="pick-files-btn" [for]="fileInputId">Добавить файлы</label>
        </ng-container>

    </div>
    
    <ng-container 
        [ngTemplateOutlet]="downloadOnlyZone"
        [ngTemplateOutletContext]="{ files }"
        *ngIf="downloadOnly"></ng-container>

</ng-container>

<ng-template #downloadOnlyZone let-files="files">
    <p>Download only</p>
    <div class="files-container">
        <div *ngFor="let file of files"
        class="file-item" 
        (click)="downloadFile(file.filename, file.url)">
            {{file.filename}}
        </div>
    </div>
</ng-template>

<ng-template #emptyDropzone>
    <div class="files-container--empty">
        <h3>Для загрузки, перетащите файлы сюда.</h3>
        <p>или</p>
        <label class="pick-files-btn" [for]="fileInputId">Выберите файлы</label>
    </div>
</ng-template>

<ng-template #loader>
    <p>Loading...</p>
</ng-template>

<ng-template #noFiles>
    <p>Нет доступных файлов.</p>
</ng-template>