@import 'colors';

:host {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.header {
    display: flex;
    align-items: center;
    min-height: 60px;
    padding: 10px 0;
    background-color: #eee;
}

.logo,
.nav {
    width: 270px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    font-weight: 700;
}

.profile {
    margin-left: auto;
}

.main {
    display: flex;
    flex-grow: 1;
    min-height: 600px;
}

.container {
    overflow-y: auto;
    width: 100%;
}

.content {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}