<header class="header">
    <!-- TODO: Replace by real logo in future + change styles -->
    <div class="logo">
        Adukator
    </div>
    <div class="header-content">

    </div>
    <div class="profile">
        <a *ngIf="user$ | async as user" [routerLink]="['profile', user.id]" class="profile-btn">{{user.username}}</a>
    </div>
</header>
<main class="main">
    <app-nav class="nav"></app-nav>
    <div class="container">
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </div>
</main>