<header class="header">
    <!-- TODO: Replace by real logo in future + change styles -->
    <div class="logo">
        Adukator
    </div>
    <div class="header-content">

    </div>
    <div class="profile">
        <ng-container *ngIf="user$ | async as user">
            <div>
                <span>
                    {{user.username}}
                </span>
                <img referrerpolicy="no-referrer" style="width: 50px; border-radius: 50%;" [src]="user.photo ?? ''" alt="User avatar photo">
            </div>
            <a mat-raised-button color="primary" [routerLink]="['profile', user.id]" class="profile-btn">Профиль</a>
            <a mat-raised-button color="accent" *ngIf="isAdmin$ | async" [routerLink]="['admin']" class="profile-btn">Админ панель</a>
        </ng-container>
    </div>
</header>
<main class="main">
    <app-nav class="nav"></app-nav>
    <div class="container">
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </div>
</main>