<h2>Заявка на получение прав преподавателя</h2>

<form [formGroup]="form">
	<app-upload-box
		class="upload-box"
		type="upload"
		[folder]="requestFilesFolder"
		[autoRemoveOnDestroy]="false"
		[manualDeleteRemoteOnClear]="true"
		[clearObs$]="clearBox$"
		(uploadFilesChanged)="uploadFilesChanged($event)"
		label="Загрузите файлы, подтверждающие вашу экспертность."></app-upload-box>

	<p>Какова ваша мотивация стать преподавателем?</p>
	<mat-form-field>
		<textarea matInput required formControlName="motivation" placeholder=""></textarea>
	</mat-form-field>

	<button mat-raised-button (click)="sendRequest()">Отправить заявку</button>
</form>