@mixin card($x: 0px, $y: 0px, $color: #ccc, $br: 16px) {
	box-shadow: $x $y 5px $color;
	border-radius: $br;
}

@mixin border($b: 1px, $type: solid, $color: #ccc, $r: 0px) {
	border: $b $type $color;
	border-radius: $r;
}