// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$green-palette: (
	50: #edfee8,
	100: #d2fbc5,
	200: #b3f89e,
	300: #8df571,
	400: #68f049,
	500: #3aec0a,
	600: #1ada00,
	700: #00c500,
	800: #00b000,
	900: #008d00,
	contrast: (
		50: rgba(black, 0.87),
		100: rgba(black, 0.87),
		200: rgba(black, 0.87),
		300: rgba(black, 0.87),
		400: rgba(black, 0.87),
		500: white,
		600: white,
		700: white,
		800: white,
		900: white,
		A100: rgba(black, 0.87),
		A200: rgba(black, 0.87),
		A400: white,
		A700: white,
	),
);

$yellow-palette: (
	50: #fdffe7,
	100: #f9fdc1,
	200: #f5fb95,
	300: #eff766,
	400: #eaf43a,
	500: #f7ff14,
	600: #f8eb00,
	700: #fbd100,
	800: #feb800,
	900: #ff8c00,
	contrast: (
		50: rgba(black, 0.87),
		100: rgba(black, 0.87),
		200: rgba(black, 0.87),
		300: rgba(black, 0.87),
		400: rgba(black, 0.87),
		500: rgba(black, 0.87),
		600: rgba(black, 0.87),
		700: rgba(black, 0.87),
		800: rgba(black, 0.87),
		900: rgba(black, 0.87),
		A100: rgba(black, 0.87),
		A200: rgba(black, 0.87),
		A400: white,
		A700: white,
	),
);

$crimson-palette: (
	50: #ffebef,
	100: #ffcdc5,
	200: #f0999f,
	300: #e77179,
	400: #f24e58,
	500: #f83a40,
	600: #e9313e,
	700: #d72638,
	800: #ca1e30,
	900: #bb0d24,
	contrast: (
		50: rgba(black, 0.87),
		100: rgba(black, 0.87),
		200: rgba(black, 0.87),
		300: rgba(black, 0.87),
		400: white,
		500: white,
		600: white,
		700: white,
		800: white,
		900: white,
	),
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$adukator-primary: mat.define-palette($green-palette);
$adukator-accent: mat.define-palette($yellow-palette);

// The warn palette is optional (defaults to red).
$adukator-warn: mat.define-palette($crimson-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$adukator-theme: mat.define-light-theme(
	(
		color: (
			primary: $adukator-primary,
			accent: $adukator-accent,
			warn: $adukator-warn,
		),
	)
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($adukator-theme);