@import '~lightgallery/scss/lightgallery';

/* You can add global styles to this file, and also import other style files */

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0.5em 0;
}

p {
	margin: 0;
}

body,
.mat-form-field-label-wrapper,
input.mat-input-element {
	font-family: Roboto, 'Helvetica Neue', sans-serif;
}

ul {
	margin: 0;
	padding: 0;
}

h1.title {
	font-weight: 700;
}

h3.title {
	font-weight: 700;
}

.create-topic-panel mat-dialog-container {
	width: 700px;
	height: 800px;
}

.container {
	display: block;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 10px;
}
