@import 'lightgallery/scss/lightgallery';

/* You can add global styles to this file, and also import other style files */

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0.5em 0;
}

a {
	text-decoration: none;
	color: inherit;
}

p {
	margin: 0;
}

ul, ol {
	list-style: none;
	padding: 0;
	margin: 0;
}

body,
.mat-form-field-label-wrapper,
input.mat-input-element {
	font-family: Roboto, 'Helvetica Neue', sans-serif;
}

ul {
	margin: 0;
	padding: 0;
}

h1.title {
	font-weight: 700;
}

h3.title {
	font-weight: 700;
}

.create-topic-panel mat-dialog-container {
	width: 700px;
	height: 800px;
}

.container {
	display: block;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 10px;
}

.textarea {
	border-radius: 6px;
	resize: vertical;
	font-family: Roboto, 'Helvetica Neue', sans-serif;
	padding: 5px;
}

.comp-chip {

	&.mat-standard-chip.mat-chip-with-trailing-icon {
		font-size: 13px;
		font-weight: 400;
		min-height: 30px;
		padding: 6px 10px;
		background-color: var(--primary-50);
		border: 2px solid var(--primary-500);
	}
}

.icon-btn {
	background-color: transparent;
	width: 36px;
	height: 36px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	border: none;
	border-radius: 50%;
	cursor: pointer;
	font-size: 20px;

	.icon {
		display: block;
	}

	&[disabled] {
		opacity: .5;
		pointer-events: none;
	}
}

val-errors.mat-error {
	padding: 0 1em;
	margin-top: 0.66em;
	font-size: 75%;
}

.test-link__info-overlay.p-overlaypanel {
	.p-overlaypanel-content {
		padding: 15px;
		font-size: 13px;
		max-width: 360px;
	}
}

.text-link {
	color: var(--primary-500);

	&:hover {
		text-decoration: underline;
	}
}

.competency-item {
	padding: 4px 10px;
	background-color: var(--primary-50);
	border-radius: 16px;
	border: 1px solid var(--primary-500);
	font-size: 12px;
}