<h2>Регистрация</h2>

<form [formGroup]="form" (ngSubmit)="onSubmit()">

	<mat-form-field>
		<mat-label>Почтовый адрес</mat-label>
		<input formControlName="email" matInput type="email" />
	</mat-form-field>
	<mat-form-field>
		<mat-label>Пароль</mat-label>
		<input formControlName="password" matInput type="password" />
	</mat-form-field>
	<mat-form-field>
		<mat-label>Повторите пароль</mat-label>
		<input formControlName="passwordRepeat" matInput type="password" />
	</mat-form-field>

	<button
		mat-raised-button
		color="primary"
		type="submit"
		[disabled]="isLoading"
	>
		Зарегистрироваться
	</button>
</form>

<div class="external">
	<p>Либо используйте другой способ входа</p>
	<button mat-raised-button (click)="login('google')">
		Google
	</button>
</div>

<p class="has-account">Уже есть аккаунт? <a routerLink="../login">Войдите</a></p>
