<ng-container *ngIf="user$ | async as user">

    <div class="profile-banner">
        <div class="row">
            <img crossorigin="anonymous" referrerpolicy="no-referrer" [src]="user.photo" alt="User Avatar">
            <h1>{{user.username}}</h1>
        </div>
        <h3>Ранг: {{user.role}}</h3>
    </div>

    <ng-container [ngSwitch]="user.role">
        <ng-container 
            *ngSwitchCase="'student'"
            [ngTemplateOutlet]="studentPermissionProfile">
        </ng-container>
        <ng-container 
            *ngSwitchCase="'teacher'"
            [ngTemplateOutlet]="teacherPermissionProfile">
        </ng-container>
    </ng-container>
</ng-container>
<button mat-raised-button color="primary" (click)="logOut()">Выйти</button>

<ng-template #studentPermissionProfile>

    <div class="courses-section">
        <h2>Мои курсы</h2>

        <div *ngIf="studentApprovedCourses$ | async as courses; else loader">
            <h3>Зачислен</h3>
            <ng-container *ngIf="courses.length > 0; else noCourses">
                <div class="courses-list">
                    <ng-container *ngFor="let course of courses"
                    [ngTemplateOutlet]="approvedCourse"
                    [ngTemplateOutletContext]="{ course }"></ng-container>
                </div>
            </ng-container>
        </div>

        <div *ngIf="studentPendingCourses$ | async as courses; else loader">
            <h3>В ожидании</h3>
            <ng-container *ngIf="courses.length > 0; else noCourses">
                <div class="courses-list">
                    <ng-container *ngFor="let course of courses"
                    [ngTemplateOutlet]="pendingCourse"
                    [ngTemplateOutletContext]="{ course }"></ng-container>
                </div>
            </ng-container>
        </div>

    </div>

    <h2>Еще какой-нибудь раздел в профиле студента</h2>

</ng-template>

<ng-template #teacherPermissionProfile>

    <div class="students-section">
        <h2>Еще какой-нибудь раздел в профиле преподавателя</h2>
        <p>Например, информация о студентах, учащихся у этого преподавателя</p>
    </div>

</ng-template>

<ng-template #pendingCourse let-course="course">
    <a class="course-item" 
    [routerLink]="['/app/learn/course/overview', course.uuid]">
        <p>
            {{course.title}}
        </p>
        <span class="course-status">
            Pending
        </span>
    </a>
</ng-template>

<ng-template #approvedCourse let-course="course">
    <a class="course-item" 
    [routerLink]="['/app/student/training', course.uuid]">
        <p>
            {{course.title}}
        </p>
        <span class="course-status">
            Approved
        </span>
    </a>
</ng-template>

<ng-template #loader>
    Loading...
</ng-template>

<ng-template #noCourses>
    Здесь пусто ;(
</ng-template>