<form [formGroup]="form" class="form">
	<h3>Вы собираетесь начать учебный курс</h3>
	<p>Выберите дату старта тренинга</p>

	<mat-form-field>
		<mat-label>Дата старта</mat-label>
		<input
			[min]="now"
			matInput
			[matDatepicker]="picker"
			formControlName="date"
		/>
		<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
		<mat-datepicker #picker></mat-datepicker>
	</mat-form-field>

	<button mat-raised-button (click)="onSubmit($event)">Все верно, начать тренинг</button>
</form>
