<form [formGroup]="form">

    <app-form-element-review-wrapper
        type="edit"
        [form]="editorForm"
        control="title">
        <mat-form-field appearance="fill">
            <mat-label>Название</mat-label>
            <input matInput formControlName="title" />
        </mat-form-field>
    </app-form-element-review-wrapper>

    <app-form-element-review-wrapper
        type="edit"
        [form]="editorForm"
        control="description">
        <mat-form-field appearance="fill">
            <mat-label>Описание</mat-label>
            <textarea matInput formControlName="description"></textarea>
        </mat-form-field>
    </app-form-element-review-wrapper>

    <div>
        <p>Добавить раздел</p>
        <button [disabled]="activeSections.materials" (click)="onAddSection('materials')">Материалы</button>
        <button [disabled]="activeSections.theory" (click)="onAddSection('theory')">Теория</button>
        <button [disabled]="activeSections.practice" (click)="onAddSection('practice')">Практика</button>
        <button [disabled]="activeSections.test" (click)="onAddSection('test')">Тест</button>
    </div>

    <ng-container *ngIf="activeSections.materials" 
        [ngTemplateOutlet]="materials"></ng-container>

    <ng-container *ngIf="activeSections.theory" 
        [ngTemplateOutlet]="theory"></ng-container>

    <ng-container *ngIf="activeSections.practice" 
        [ngTemplateOutlet]="practice"
        [ngTemplateOutletContext]="{ practiceForm: practiceFormGroup }"></ng-container>

    <ng-container *ngIf="activeSections.test" 
        [ngTemplateOutlet]="test"></ng-container>

</form>

<button [disabled]="order === 0" (click)="onRemove()">Удалить тему</button>

<ng-template #materials>
    <div class="section materials">
        <h3>Материалы</h3>
        <button (click)="onRemoveSection('materials')">Удалить раздел</button>

        <app-upload-box 
        class="upload-box" 
        type="upload" 
        [folder]="uploadFolder"
        (uploadFilesChanged)="onUploadFilesChanged($event)"></app-upload-box>
    </div>
</ng-template>

<ng-template #practice let-practiceForm="practiceForm">
    <div class="section">
        <h3>Практика</h3>
        <button (click)="onRemoveSection('practice')">Удалить раздел</button>

        <textarea>
            {{practiceForm.value.goal}}
        </textarea>
        <button (click)="onAddTask()">Добавить задание</button>
        <div class="tasks-list">
            <ng-container *ngIf="taskForms.length > 0">
                <app-topic-task 
                class="task-item"
                *ngFor="let task of taskForms; let i = index" 
                [form]="task"
                [hierarchy]="getHierarchy(i + 1)"
                (remove)="onRemoveTaskAt(i)"></app-topic-task>
            </ng-container>
        </div>
    </div>
</ng-template>

<ng-template #theory>
    <div class="section">
        <h3>Теория</h3>
        <button (click)="onRemoveSection('theory')">Удалить раздел</button>
        <mat-form-field appearance="fill" [formGroup]="form">
            <mat-label>Теория</mat-label>
            <textarea matInput formControlName="theory"></textarea>
        </mat-form-field>
    </div>
</ng-template>

<ng-template #test>
    <div class="section">
        <h3>Тест</h3>
        <button (click)="onRemoveSection('test')">Удалить раздел</button>
        <mat-form-field appearance="fill" [formGroup]="form">
            <mat-label>Ссылка на тест</mat-label>
            <input matInput formControlName="testLink" />
        </mat-form-field>
    </div>

</ng-template>