<app-back-btn>Назад</app-back-btn>
<ng-container *ngIf="course$ | async as course; else loader">
    <h2>Управление курсом "{{course.title}}"</h2>

    <div class="course-students">
        <h3>Студенты</h3>

        <div class="pending-students students-list">
            <h4>Ожидают зачисления</h4>
            <input type="text" placeholder="Поиск...">
            <button (click)="refreshMembersList('pending')">Обновить</button>
            <ng-container *ngIf="pendingStudents$ | async as pendingMembers; else loader">
                
                <ng-container *ngIf="pendingMembers.length > 0; else emptyList">
                    <app-course-member 
                        class="student-item"    
                        *ngFor="let user of pendingMembers"
                        [user]="user"
                        status="pending"
                        (enroll)="onApproveEnroll($event)"   
                    >                
                    </app-course-member>
                </ng-container>
                
            </ng-container>
        </div>

        <div class="approved-students students-list">
            <h4>Зачисленные на курс</h4>
            <input type="text" placeholder="Поиск...">
            <button (click)="refreshMembersList('approved')">Обновить</button>
            <ng-container *ngIf="approvedStudents$ | async as approvedMembers; else loader">
                
                <ng-container *ngIf="approvedMembers.length > 0; else emptyList">
                    <app-course-member 
                        class="student-item"    
                        *ngFor="let user of approvedMembers"
                        [user]="user"
                        status="approved"
                        (expel)="onExpel($event)"
                    >                
                    </app-course-member>
                </ng-container>
                
            </ng-container>
        </div>
    </div>
</ng-container>

<ng-template #loader>
    Loading...
</ng-template>

<ng-template #emptyList>
    <p>Пусто.</p>
</ng-template>