.students-list {
    min-height: 200px;
    max-height: 400px;
    overflow-y: auto;
}

.student-item {
    height: 70px;
    width: 100%;
    max-width: 600px;
    border-radius: 16px;
    background-color: #efefef;
    padding: 8px 20px;
    margin: 10px 0;
}
