<h2>Запросы на доступ к преподаванию</h2>

<mat-accordion>

	<mat-expansion-panel *ngFor="let req of requests$ | async" class="request-item">
		<mat-expansion-panel-header class="request-item-header">
			<div class="user">
				<img class="avatar" [src]="req.user.photo">
				<span class="username">{{ req.user.username }}</span>
			</div>
	
			<div class="status">
				Status: {{ req.status }}
			</div>

			<div class="actions">
				<ng-container *ngIf="req.status === 'pending'">
					<button [disabled]="isLoading" (click)="approve($event, req)">Подтвердить</button>
					<button [disabled]="isLoading" (click)="reject($event, req)">Отклонить</button>
				</ng-container>
			</div>
		</mat-expansion-panel-header>
		<div class="request-item-content">
			<p>Мотивация</p>
			<p>
				{{ req.motivation }}
			</p>
			<p>Файлы</p>
			<div class="files">
				<lightgallery [settings]="lgSettings">
					<a 
					class="thumb"
					*ngFor="let file of req.files"
					[href]="file.secure_url">
						<img alt="Photo" [src]="file.secure_url" />
					</a>
				</lightgallery>
			</div>
		</div>
	</mat-expansion-panel>

</mat-accordion>