@import "/src/mixins";

form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	flex-grow: 1;
}

.overall-info {
	margin-top: 10px;
}

mat-form-field {
	width: 320px;
}

.content-list {
	width: 100%;
	margin-top: 40px;
}

.module-item {	
	padding: 20px 0;
	border-bottom: 1px solid #ccc;

	&__header {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
	}

	&__title {
		position: relative;
	}

	&__order {
		@include border($color: var(--primary-200), $r: 6px);

		position: absolute;
		right: calc(100% + 10px);
		top: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 30px;
		height: 30px;
	}

	&__add {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		min-height: 50px;
		margin: 20px 0;
		padding: 10px;
		color: #777;
		background-color: transparent;
		border: 1px solid #ccc;
		cursor: pointer;
		border-radius: 8px;

		& span {
			margin-right: 8px;
		}
	}
}

.topic-item {
	@include card($br: 8px);
	
	padding: 10px;
	margin: 20px 0;

	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__duration {
		display: flex;
	
		& .input {
			width: 100px;
		}
	}	

	&__add {
		@include border($r: 8px);
		
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		min-height: 50px;
		color: #777;
		background-color: transparent;
		cursor: pointer;

		.disabled,
		[disabled] {
			pointer-events: none;
			opacity: .5;
		}

		& span {
			margin-right: 8px;
		}
	}
}

.footer {
	width: 100%;
	margin-top: 20px;
	text-align: right;

	& button {
		margin-left: 10px;
	}
}

.categories-container {

	& mat-form-field {
		max-width: 240px;
		margin-bottom: -1.3em;
	}

	& mat-checkbox {
		padding-left: 20px;
	}
}

.category-row {
	display: flex;
	align-items: center;
	gap: 20px;
	width: 100%;
	margin-bottom: 20px;
}

.property {
	// display: flex;
	align-items: baseline;
	padding: 4px 0;
	width: 320px;

	&__description {
		width: 420px;
	}

	&__competencies {
		width: 420px;
	}

	&.banner {
		padding-bottom: 20px;
	}
}

p {
	margin: 0;
}

.form-footer {
	display: flex;
	gap: 10px;
	padding: 10px 0;
}

.topic-review-materials {
	height: 120px;
}

app-chips-control {
	display: block;
}

.banner {
	&__img {
		@include border($r: 6px);

		height: 120px;
		width: 360px;
		object-fit: cover;
	}

	&__input {
		display: none;
	}

	&__input-label {
		display: inline-block;
		padding: 5px 8px;
		border: 1px solid #ccc;
		border-radius: 4px;
		cursor: pointer;
		transition: .2s;
		margin-top: 4px;

		&:hover {
			color: var(--primary-500);
		}
	}
}

.module {
	&__topics {
		display: flex;
		flex-direction: column;
		max-width: 320px;
		width: 100%;
		border-bottom: 1px solid #ccc;
	}
	&__topic-link {
		padding: .8em 20px;
	}

	&__add-topic-btn {
		margin-top: 10px;
	}
}

.topic {
	width: 100%;
}