<form class="course-form" [formGroup]="courseForm">

    <ng-container [ngSwitch]="viewType">
        <ng-container 
            *ngSwitchCase="'main'"
            [ngTemplateOutlet]="courseMainInfo">
        </ng-container>
        <ng-container 
            *ngSwitchCase="'module'"
            [ngTemplateOutlet]="courseModule"
            [ngTemplateOutletContext]="{ module: getView('module'), viewType }">
        </ng-container>
        <ng-container 
            *ngSwitchCase="'topic'"
            [ngTemplateOutlet]="courseTopic"
            [ngTemplateOutletContext]="{ topic: getView('topic'), viewType }">
        </ng-container>
    </ng-container>
    
</form>

<ng-template #courseMainInfo>

    <ng-container [ngSwitch]="formMode">
                
        <ng-container 
            *ngSwitchCase="formModes.Create" 
            [ngTemplateOutlet]="createHeader"
        ></ng-container>
        <ng-container 
            *ngSwitchCase="formModes.Update" 
            [ngTemplateOutlet]="updateHeader"
        ></ng-container>
        <ng-container 
            *ngSwitchCase="formModes.Edit" 
            [ngTemplateOutlet]="editHeader"
        ></ng-container>

    </ng-container>

    <div [formGroup]="overallInfoSubform">
        
        <mat-form-field 
        *appFormElWrapper="overallInfoSubform; control: 'title'; type: controlsType"
        appearance="fill">
            <mat-label>Название курса</mat-label>
            <input matInput formControlName="title" />
        </mat-form-field>
        
        <mat-form-field 
        *appFormElWrapper="overallInfoSubform; control: 'description'; type: controlsType"
        appearance="fill">
            <mat-label>Описание курса</mat-label>
            <input matInput formControlName="description" />
        </mat-form-field>
        
        <div 
            *appFormElWrapper="overallInfoSubform; control: 'category'; type: controlsType"
            class="categories-container">
            <mat-form-field appearance="fill">
                <mat-label>Категория</mat-label>
                <mat-select formControlName="category">
                    <mat-option *ngFor="let category of categories$ | async" [value]="category.key">
                        {{category.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

    </div>

    <div class="modules">
        <div 
        *ngFor="let moduleForm of modulesFormArray.controls; let i = index"
        class="module-item">
            <p>{{ moduleForm.value.title }}</p>
        </div>
    </div>

    <div class="form-footer">
        <ng-container 
        [ngTemplateOutlet]="actionButtons" 
        [ngTemplateOutletContext]="{ formMode }"></ng-container>
    </div>
</ng-template>

<ng-template #courseModule let-module="module">
    <h3>Модуль {{ viewData.module + 1 }}. {{ module.value.title }}</h3>
    <app-course-module 
        [form]="module" 
        [controlsType]="controlsType"
        [hierarchy]="getHierarchy(viewType)"></app-course-module>
</ng-template>

<ng-template #courseTopic let-topic="topic">
    <h3>Тема {{ viewData.topic + 1 }}. {{ topic.value.title }}</h3>
    <app-module-topic 
        [form]="topic"
        [controlsType]="controlsType"
        [hierarchy]="getHierarchy(viewType)"></app-module-topic>
</ng-template>

<ng-template #dates let-form="form">
    <app-form-element-review-wrapper
        type="edit"
        [form]="form"
        control="dates">
        <mat-form-field appearance="fill" [formGroup]="form">
            <mat-label>Длительность курса</mat-label>
            <mat-date-range-input [rangePicker]="picker">
                <input
                    matStartDate
                    placeholder="Начало"
                    formControlName="startDate"
                />
                <input
                    matEndDate
                    placeholder="Окончание"
                    formControlName="endDate"
                />
            </mat-date-range-input>
            <mat-hint>MM.DD.YYYY – MM.DD.YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
    </app-form-element-review-wrapper>
</ng-template>

<ng-template #actionButtons>
    <ng-container [ngSwitch]="formMode">
        <ng-template 
            *ngSwitchCase="formModes.Create" 
            [ngTemplateOutlet]="createCourseActionButtons"
        ></ng-template>
        <ng-template 
            *ngSwitchCase="formModes.Edit" 
            [ngTemplateOutlet]="editCourseActionButtons"
        ></ng-template>
    </ng-container>
</ng-template>

<ng-template #createCourseActionButtons>
    <button mat-raised-button color="primary" (click)="onSubmit(viewModes.Create)">Создать</button>
</ng-template>

<ng-template #editCourseActionButtons>
    <button mat-raised-button color="primary" (click)="onSubmit(viewModes.Edit)">Сохранить</button>
</ng-template>

<ng-template #createHeader>
    <h1 class="title">Создание курса</h1>
    <p>Пожалуйста, заполните данные о курсе в форму ниже.</p>
</ng-template>

<ng-template #updateHeader>
    <h1 class="title">Редактирование курса</h1>
    <p>Внесите необходимые правки в текущую версию курса.</p>
</ng-template>

<ng-template #editHeader>
    <h1 class="title">Исправление курса</h1>
    <p>Обновите содержание курса в соответствии с советами редакции.</p>
</ng-template>