<form
	class="course-form"
	*ngIf="viewData$ | async as viewData"
	[formGroup]="courseForm"
>
	<ng-container [ngSwitch]="viewData.viewPath.type">
		<ng-container
			*ngSwitchCase="'main'"
			[ngTemplateOutlet]="courseMainInfo"
			[ngTemplateOutletContext]="{ viewData }"
		>
		</ng-container>
		<ng-container
			*ngSwitchCase="'module'"
			[ngTemplateOutlet]="courseModule"
		>
		</ng-container>
		<ng-container
			*ngSwitchCase="'topic'"
			[ngTemplateOutlet]="courseTopic"
			[ngTemplateOutletContext]="{ viewData }"
		>
		</ng-container>
	</ng-container>
</form>

<ng-template #courseMainInfo>
	<ng-container [ngSwitch]="formMode">
		<ng-container
			*ngSwitchCase="viewModes.Create"
			[ngTemplateOutlet]="createHeader"
		></ng-container>
		<ng-container
			*ngSwitchCase="viewModes.Update"
			[ngTemplateOutlet]="updateHeader"
		></ng-container>
		<ng-container
			*ngSwitchCase="viewModes.Edit"
			[ngTemplateOutlet]="editHeader"
		></ng-container>
	</ng-container>

	<div class="overall-info" [formGroup]="overallInfoSubform">
		<h2>Общая информация</h2>
		<div class="property banner">
			<ng-container
				*appFormElWrapper="
					overallInfoSubform;
					control: 'banner';
					type: 'edit';
					isVertical: true;
				">
				<mat-label>Баннер к курсу</mat-label>
				<div class="banner">
					<img class="banner__img" [src]="overallInfoSubform.value.banner || emptyBannerSrc" alt="">
				</div>
				<label class="banner__input-label">
					<span>Выберите баннер</span>
					<input class="banner__input" (change)="onUploadPoster($event, formMode)" type="file" accept="image/png, image/jpeg, image/jpg" />
				</label>
				<val-errors class="mat-error" controlName="banner"></val-errors>	
			</ng-container>
		</div>

		<div class="property">
			<mat-form-field
				*appFormElWrapper="
					overallInfoSubform;
					control: 'title';
					type: 'edit'
				" 
				class="property__title">
				<mat-label>Название курса</mat-label>
				<input matInput formControlName="title" />
				<mat-error>
					<val-errors controlName="title"></val-errors>	
				</mat-error>
			</mat-form-field>
		</div>

		<div class="property descr">
			<mat-form-field
				*appFormElWrapper="
					overallInfoSubform;
					control: 'description';
					type: 'edit'
				"
				class="property__description">
				<mat-label>Описание курса</mat-label>
				<textarea 
				matInput formControlName="description" rows="5"></textarea>
				<mat-error>
					<val-errors controlName="description"></val-errors>	
				</mat-error>
			</mat-form-field>
		</div>

		<div class="property">
			<mat-form-field
				*appFormElWrapper="
					overallInfoSubform;
					control: 'category';
					type: 'edit'
				"
				class="categories-container">
				<mat-label>Категория</mat-label>
				<mat-select formControlName="category">
					<mat-option
						*ngFor="let category of categories$ | async"
						[value]="category.key"
					>
						{{ category.name }}
					</mat-option>
				</mat-select>
				<mat-error>
					<val-errors controlName="category"></val-errors>	
				</mat-error>
			</mat-form-field>
		</div>

		<div class="property">
			<ng-container 
				*appFormElWrapper="
					overallInfoSubform;
					control: 'requiredCompetencies';
					type: 'edit'
				">
				<app-chips-control
					*ngIf="competencies$ | async as competencies"
					[form]="overallInfoSubform"
					[items]="competencies"
					[picked]="overallInfoSubform.value.requiredCompetencies"
					control="requiredCompetencies"
					title="Необходимые компетенции"
					class="property__competencies required"
				></app-chips-control>
			</ng-container>
		</div>

		<div class="property">
			<ng-container 
				*appFormElWrapper="
					overallInfoSubform;
					control: 'acquiredCompetencies';
					type: 'edit'
				">
				<app-chips-control
					*ngIf="competencies$ | async as competencies"
					[form]="overallInfoSubform"
					[items]="competencies"
					[picked]="overallInfoSubform.value.acquiredCompetencies"
					control="acquiredCompetencies"
					title="Получаемые компетенции"
					class="property__competencies acquired"
				></app-chips-control>
			</ng-container>
		</div>

		<div class="property">
			<mat-checkbox>Добавление в пакеты других преподавателей</mat-checkbox>
		</div>
	</div>

	<div class="content-list">
		<h2>Содержание курса</h2>
		<div
			*ngFor="let moduleForm of modulesFormArray.controls; let i = index"
			class="module-item"
		>
			<div class="module-item__header">
				<div class="module-item__title">
					<span class="module-item__order">{{ i + 1 }}</span>
					<h4>{{ moduleForm.value.title }}</h4>
				</div>

				<button class="icon-btn" (click)="removeModule(moduleForm)">
					<span class="material-icons-outlined">
						delete
					</span>
				</button>
			</div>
			<div class="topics">
				<span>Темы модуля</span>
				<div
					*ngFor="
						let topicForm of moduleForm.controls.topics.controls; let j = index
					"
					class="topic-item"
					[formGroup]="topicForm"
				>
					<div class="topic-item__header">
						<div class="topic-item__title">
							{{ j + 1}}. {{ topicForm.value.title }}
						</div>

						<div class="topic-item__actions">
							<button 
							class="icon-btn remove-btn" 
							(click)="removeTopic(topicForm)">
								<mat-icon class="icon">delete_outline</mat-icon>
							</button>
						</div>
					</div>

					<div class="topic-item__duration-wrapper">

						<span>Длительность темы</span>
						<div class="topic-item__duration">
							<mat-form-field class="input">
								<mat-label>Недель</mat-label>
								<input
									formControlName="weeks"
									matInput
									required
									type="number"
									min="0"
									max="40"
								/>
								<mat-error>
									<val-errors controlName="weeks"></val-errors>	
								</mat-error>
							</mat-form-field>
	
							<mat-form-field class="input">
								<mat-label>Дней</mat-label>
								<input
									formControlName="days"
									matInput
									required
									type="number"
									min="0"
									max="100"
								/>
								<mat-error>
									<val-errors controlName="days"></val-errors>	
								</mat-error>
							</mat-form-field>
						</div>

					</div>
				</div>
				
				<button
				class="topic-item__add"
				*ngIf="canEditForm" (click)="addTopic(moduleForm)">
					<span class="material-icons-outlined">
						add_circle_outline
					</span>
					Добавить тему
				</button>
			</div>
			<div class="module-item__footer">

			</div>
		</div>
		<button class="module-item__add" (click)="addModule()">
			<span class="material-icons-outlined">
				add_circle_outline
			</span>
			Добавить модуль
		</button>
	</div>

	<div class="form-footer">
		<ng-container
			[ngTemplateOutlet]="actionButtons"
			[ngTemplateOutletContext]="{ formMode }"
		></ng-container>
	</div>
</ng-template>

<ng-template #courseModule>
	<ng-container *ngIf="activeFormGroup?.value">
		<h3>{{ activeFormGroup.value.title }}</h3>
		<app-course-module
			[form]="activeFormGroup"
			[controlsType]="controlsType"
		></app-course-module>
	
		<h4>Темы модуля</h4>
		<div class="module__topics">
			<a  
			routerLink="."
			[queryParams]="{ topic: topic.id }"
			class="module__topic-link"
			*ngFor="let topic of activeFormGroup.value.topics; let j = index">
				Тема {{ j + 1 }}. {{ topic.title }}.
			</a>
		</div>
		<button 
		class="module__add-topic-btn"
		mat-raised-button 
		color="primary"
		*ngIf="canEditForm" 
		(click)="addTopic(activeFormGroup)">
			<span class="material-icons-outlined">
				add_circle_outline
			</span>
			Добавить тему
		</button>
	</ng-container>
</ng-template>

<ng-template #courseTopic let-viewData="viewData">
	<ng-container *ngIf="activeFormGroup?.value">
		<h3>Тема {{ activeFormGroup.value.title }}</h3>
		<app-module-topic
			[form]="activeFormGroup"
			[controlsType]="controlsType"
			class="topic"
		></app-module-topic>
	</ng-container>
</ng-template>

<ng-template #actionButtons>
	<ng-container [ngSwitch]="formMode">
		<ng-template
			*ngSwitchCase="viewModes.Create"
			[ngTemplateOutlet]="createCourseActionButtons"
		></ng-template>
		<ng-template
			*ngSwitchCase="viewModes.Edit"
			[ngTemplateOutlet]="editCourseActionButtons"
		></ng-template>
	</ng-container>
</ng-template>

<ng-template #createCourseActionButtons>
	<button
		mat-raised-button
		color="primary"
		(click)="onSubmit(viewModes.Create)"
	>
		Создать курс
	</button>
</ng-template>

<ng-template #editCourseActionButtons>
	<button
		mat-raised-button
		color="primary"
		(click)="onSubmit(viewModes.Edit)"
	>
		Сохранить изменения
	</button>
</ng-template>

<ng-template #createHeader>
	<h1 class="title">Создание курса</h1>
	<p>Пожалуйста, заполните данные о курсе в форму ниже.</p>
</ng-template>

<ng-template #updateHeader>
	<h1 class="title">Редактирование курса</h1>
	<p>Внесите необходимые правки в текущую версию курса.</p>
</ng-template>

<ng-template #editHeader>
	<h1 class="title">Исправление курса</h1>
	<p>Обновите содержание курса в соответствии с советами редакции.</p>
</ng-template>
