<a [routerLink]="['../']" mat-stroked-button color="primary">Назад</a>

<h1 class="title">Создание курса</h1>
<p>Пожалуйста, заполните данные о курсе в форму ниже</p>

<form class="course-form" [formGroup]="courseForm">
	<mat-form-field appearance="fill">
		<mat-label>Название курса</mat-label>
		<input matInput formControlName="title" />
	</mat-form-field>

	<mat-form-field appearance="fill">
		<mat-label>Описание курса</mat-label>
		<textarea matInput formControlName="description"></textarea>
	</mat-form-field>

	<div class="categories-container">
		<div class="category-row">
			<mat-form-field appearance="fill">
				<mat-label>Категория</mat-label>
				<input
					type="text"
					aria-label="Number"
					matInput
					formControlName="category"
					[matAutocomplete]="categoriesAutocomplete"
				/>
				<mat-autocomplete #categoriesAutocomplete="matAutocomplete">
					<mat-option value="test1">Test 1</mat-option>
					<mat-option value="test2">Test 2</mat-option>
					<mat-option value="test3">Test 3</mat-option>
					<mat-option value="test4">Test 4</mat-option>
				</mat-autocomplete>
			</mat-form-field>

			<mat-checkbox
				#customCategory
				(change)="onChangeCustomCategory($event, 'userCategory')"
				>Свой вариант</mat-checkbox
			>

			<mat-form-field *ngIf="customCategory.checked" appearance="fill">
				<mat-label>Своя категория</mat-label>
				<input matInput formControlName="userCategory" />
			</mat-form-field>
		</div>

		<div class="category-row">
			<mat-form-field appearance="fill">
				<mat-label>Подкатегория</mat-label>
				<input matInput formControlName="subcategory" />
			</mat-form-field>

			<mat-checkbox
				#customSubcategory
				(change)="onChangeCustomCategory($event, 'userSubcategory')"
				>Свой вариант</mat-checkbox
			>

			<mat-form-field *ngIf="customSubcategory.checked" appearance="fill">
				<mat-label>Своя подкатегория</mat-label>
				<input matInput formControlName="userSubcategory" />
			</mat-form-field>
		</div>
	</div>

	<mat-form-field appearance="fill">
		<mat-label>Длительность курса</mat-label>
		<mat-date-range-input [rangePicker]="picker">
			<input
				matStartDate
				placeholder="Начало"
				formControlName="startDate"
			/>
			<input
				matEndDate
				placeholder="Окончание"
				formControlName="endDate"
			/>
		</mat-date-range-input>
		<mat-hint>MM.DD.YYYY – MM.DD.YYYY</mat-hint>
		<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
		<mat-date-range-picker #picker></mat-date-range-picker>
	</mat-form-field>

	<h2>Модули курса</h2>

	<!-- TODO: Add Icon instead of text  -->
	<button mat-stroked-button color="primary" (click)="addModule()">
		Добавить модуль
	</button>

	<mat-accordion multi cdkDropList (cdkDropListDropped)="drop($event)">
		<mat-expansion-panel
			*ngFor="let moduleForm of modulesControls; let i = index"
			cdkDrag
			[expanded]="i === 0"
		>
			<mat-expansion-panel-header cdkDragHandle>
				<mat-panel-title
					>{{ i + 1 }}.
					{{
						module.title !== '' ? module.title : 'Модуль ' + (i + 1)
					}}</mat-panel-title
				>
			</mat-expansion-panel-header>
			<app-course-module #module [form]="moduleForm"></app-course-module>
			<mat-action-row>
				<!-- TODO: Add Trash Icon instead of text  -->
				<button
					mat-stroked-button
					color="primary"
					[disabled]="i === 0 && modulesControls.length === 1"
					(click)="removeModule(i)"
				>
					Удалить
				</button>
			</mat-action-row>
		</mat-expansion-panel>
	</mat-accordion>

	<div class="footer">
		<button mat-stroked-button color="primary" (click)="onSubmit('draft')">
			Сохранить черновик
		</button>
		<button
			mat-stroked-button
			color="primary"
			(click)="onSubmit('publish')"
		>
			Опубликовать
		</button>
	</div>
</form>
